In [1]:
!ls

Client_Project_Ixchel.ipynb
Client_Project_John.ipynb
Client_Project_Kevin.ipynb
Ixchel_Twitter.ipynb
NotifyNYC_tweets.csv
Weather
converting-text-files-to-combined-dictionary.ipynb
data
mycsv.csv
raw_tweets
saved_tweets.csv
twitter_credentials.json
working_df.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./raw_tweets/raw_tweets.csv')

In [4]:
df.drop(columns='Unnamed: 0', inplace=True)

In [5]:
df.head()

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet
0,267716394043465728,2012-11-11 14:52:16,NaN,False,False,NaN,0.0,0.0,0.0,ConEd : NY Sandy power outages slip; costs...,/RealJezzy/status/267716394043465728,504279674.0,RealJezzy
1,298660085255770112,2013-02-05 00:11:27,NaN,False,False,NaN,0.0,0.0,0.0,@ ConEdison \n Power outage in queens,/meirBGNY/status/298660085255770112,909594764.0,meirBGNY
2,21860028236,2010-08-22 17:33:44,NaN,False,False,NaN,0.0,0.0,0.0,Power outage in the Whitestone section of Q...,/olgushka1/status/21860028236,68886571.0,olgushka1
3,1069021302667833344,2018-12-01 19:11:54,NaN,False,False,NaN,0.0,1.0,0.0,about that power outage that is now over.....,/jimcasale/status/1069021302667833344,12393522.0,jimcasale
4,767077182124486656,2016-08-20 15:13:46,NaN,False,False,NaN,3.0,0.0,7.0,.@ConEdison is responding to a power outag...,/NotifyNYC/status/767077182124486656,16145875.0,NotifyNYC

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4375 entries, 0 to 4374
Data columns (total 13 columns):
ID               4375 non-null object
datetime         4375 non-null object
has_media        150 non-null object
is_reply         4374 non-null object
is_retweet       4374 non-null object
medias           149 non-null object
nbr_favorite     4374 non-null float64
nbr_reply        4374 non-null float64
nbr_retweet      4374 non-null float64
text             4374 non-null object
url              4373 non-null object
user_id          4373 non-null float64
usernameTweet    4373 non-null object
dtypes: float64(4), object(9)
memory usage: 444.4+ KB

In [7]:
# check datatypes
df.dtypes

ID                object
datetime          object
has_media         object
is_reply          object
is_retweet        object
medias            object
nbr_favorite     float64
nbr_reply        float64
nbr_retweet      float64
text              object
url               object
user_id          float64
usernameTweet     object
dtype: object

In [8]:
# converting the datetime column to datetime format
# won't work because there there not all of the cells are formatted correctly

#pd.to_datetime(df['datetime']).head()

# returns 'ValueError: month must be in 1..12'

In [9]:
# locate the datetime value that is not in the correct format
for i in df.datetime:
    if i[5:7] not in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']:
        print(i)

20567184

In [10]:
# locate the index number of that value
df[df.datetime == '20567184']

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet
2808,/Maggie4Obama/status/108170030474203136,20567184,Maggie4Obama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
# inspect the item
df.iloc[2808]

ID               /Maggie4Obama/status/108170030474203136
datetime                                        20567184
has_media                                   Maggie4Obama
is_reply                                             NaN
is_retweet                                           NaN
medias                                               NaN
nbr_favorite                                         NaN
nbr_reply                                            NaN
nbr_retweet                                          NaN
text                                                 NaN
url                                                  NaN
user_id                                              NaN
usernameTweet                                        NaN
Name: 2808, dtype: object

In [12]:
# drop that row since it is mostly bad data
df.drop(index=2808, inplace=True)

In [13]:
# try converting the 'datetime' column to datetime again
df.datetime = pd.to_datetime(df.datetime)

In [14]:
# check that it worked
df.dtypes

ID                       object
datetime         datetime64[ns]
has_media                object
is_reply                 object
is_retweet               object
medias                   object
nbr_favorite            float64
nbr_reply               float64
nbr_retweet             float64
text                     object
url                      object
user_id                 float64
usernameTweet            object
dtype: object

In [15]:
# check nulls
df.isnull().sum()

ID                  0
datetime            0
has_media        4225
is_reply            0
is_retweet          0
medias           4225
nbr_favorite        0
nbr_reply           0
nbr_retweet         0
text                0
url                 1
user_id             1
usernameTweet       1
dtype: int64

In [16]:
# impute 'no media' for the null media columns
df['has_media'] = df.has_media.fillna('no media')
df['medias'] = df.has_media.fillna('no media')
df.isnull().sum()

ID               0
datetime         0
has_media        0
is_reply         0
is_retweet       0
medias           0
nbr_favorite     0
nbr_reply        0
nbr_retweet      0
text             0
url              1
user_id          1
usernameTweet    1
dtype: int64

In [30]:
#check out the null url
df[df.url.isnull()]

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet
2807,108170030474203136,2011-08-29 09:31:59,no media,False,False,no media,0.0,0.0,0.0,TomSmolka Tom Smolka,NaN,NaN,NaN

In [31]:
# drop that row since it is mostly bad data
df.drop(index=2807, inplace=True)

In [33]:
df.isnull().sum()

ID               0
datetime         0
has_media        0
is_reply         0
is_retweet       0
medias           0
nbr_favorite     0
nbr_reply        0
nbr_retweet      0
text             0
url              0
user_id          0
usernameTweet    0
dtype: int64

#### Unique Values

In [17]:
unique = []
for i in df.columns:
    uniques = {}
    uniques['column'] = i 
    uniques['unique values'] = df[i].nunique()
    unique.append(uniques)
pd.DataFrame(unique)

           column  unique values
0              ID           4374
1        datetime           4254
2       has_media              2
3        is_reply              2
4      is_retweet              1
5          medias              2
6    nbr_favorite             33
7       nbr_reply             19
8     nbr_retweet             45
9            text           4116
10            url           4373
11        user_id           2533
12  usernameTweet           2533

#### Consider The Most Common Twitter Handles
There are many handles that have multiple tweets. These include official handles and news organizations.

We can consider using some of these as target indicators, particularly those that are official handles that are sharing information the utility would already know about.  

We will also want to consider extracting these from the dataframe before parsing for language, since they're likely to bias any model looking for common language (i.e. many of the tweets from NotifyNYC follow a format along the lines of "@Conedison is responding to a power outage in {zip-code}).

In [18]:
df.usernameTweet.value_counts()[:20]

NotifyNYC         641
EastCoast911IA    135
ConEdison         113
Shield1631         95
outagetracker      31
NYCityAlerts       20
WHCREBT            16
BNNnews            14
NYGovCuomo         14
StatenIslUSA       14
BreakingNewsNY     13
nyc311             13
res7cuefox5        13
BreakingNewsUS     13
bnndesk            12
yonkersoem40       11
TalkoftheSound     11
fox5ny             11
AlwaysActions      11
JoshuaRockoff      10
Name: usernameTweet, dtype: int64

In [19]:
df[df.usernameTweet == 'NotifyNYC'].head(1)

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet
4,767077182124486656,2016-08-20 15:13:46,no media,False,False,no media,3.0,0.0,7.0,.@ConEdison is responding to a power outag...,/NotifyNYC/status/767077182124486656,16145875.0,NotifyNYC

In [20]:
df[df.usernameTweet == 'EastCoast911IA'][:1]

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet
7,764563820354408448,2016-08-13 16:46:34,no media,False,False,no media,0.0,0.0,0.0,NotifyNYC: .ConEdison is responding to a powe...,/EastCoast911IA/status/764563820354408448,2.778990e+09,EastCoast911IA

In [22]:
df[df.usernameTweet == 'Shield1631'].head(1)

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet
122,997027507995140096,2018-05-17 04:14:16,no media,False,False,no media,0.0,0.0,0.0,.ConEdison is responding to a power outage ...,/Shield1631/status/997027507995140096,3.493897e+09,Shield1631

Looks like many (if not all) of the tweets from 'EastCoast911IA' and 'Shield1631' are just restating NotifyNYC tweets

In [21]:
df[df.usernameTweet == 'fox5ny'].head(1)

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet
24,384683458410201088,2013-09-30 10:17:38,no media,False,False,no media,1.0,0.0,0.0,MT @NotifyNYC Power outage in Lighthouse ...,/fox5ny/status/384683458410201088,9229672.0,fox5ny

It turns out that many groups, particulatly news organizations, retweet @NotifyNYC. These are almost definitely duplicate tweets, so we want to exclude them from our analysis. Below we accomplish this using various masks to identify the retweets and systematically pair down the dataframe.

In [23]:
# first, extract NotifyNYC so that we don't accidentally remove tweets from that handle
df_with_only_NotifyNYC = df[df.usernameTweet == 'NotifyNYC']

# save that to a csv
df_with_only_NotifyNYC.to_csv('NotifyNYC_tweets.csv')

# and create a dataframe without NotifyNYC that can be paired down
df_without_NotifyNYC = df[df.usernameTweet != 'NotifyNYC']

In [24]:
# create a mask to identify "retweets" of NotifyNYC
retweets_notify = df_without_NotifyNYC.text.str.contains('NotifyNYC')

# print the number of tweets in the mask
print(f'{len(df_without_NotifyNYC[retweets_notify])} retweets in the mask')
print('')

# save a new dataframe that excludes these tweets
df_without_notify_retweets = df_without_NotifyNYC[~retweets_notify]

# print out the top twitter handles after removing the retweets
print(df_without_notify_retweets.usernameTweet.value_counts()[:5])

361 retweets in the mask

ConEdison        113
Shield1631        95
outagetracker     28
NYCityAlerts      19
BNNnews           14
Name: usernameTweet, dtype: int64

In [25]:
# create a mask to identify "retweets" of NotifyNYC
# noting that every 'Shild1631' tweet in our dataframe was a NotifyNYC retweet
retweets_notify = df_without_NotifyNYC.usernameTweet == 'Shield1631'

# print the number of tweets in the mask
print(f'{len(df_without_notify_retweets[retweets_notify])} retweets in the mask')
print('')

# save a new dataframe that excludes these tweets
df_without_notify_retweets = df_without_notify_retweets[~retweets_notify]

# print out the top twitter handles after removing the retweets
print(df_without_notify_retweets.usernameTweet.value_counts()[:5])

95 retweets in the mask

ConEdison        113
outagetracker     28
NYCityAlerts      19
BNNnews           14
NYGovCuomo        14
Name: usernameTweet, dtype: int64

/Users/kevinc/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/Users/kevinc/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # Remove the CWD from sys.path while we load stuff.

In [26]:
# create a mask to identify "retweets" of NotifyNYC
# taking advantage of the strange character spacing in some of the tweets
retweets_notify = df_without_notify_retweets.text.str.contains('is responding to a  p')

# print the number of tweets in the mask
print(f'{len(df_without_notify_retweets[retweets_notify])} retweets in the mask')
print('')

# save a new dataframe that excludes these tweets
df_without_notify_retweets = df_without_notify_retweets[~retweets_notify]

# print out the top twitter handles after removing the retweets
print(df_without_notify_retweets.usernameTweet.value_counts()[:5])

57 retweets in the mask

ConEdison        113
outagetracker     28
NYCityAlerts      19
NYGovCuomo        14
BNNnews           14
Name: usernameTweet, dtype: int64

In [ ]:
print(len(df_no_notifyNYC[df_no_notifyNYC.text.str.contains('ConEdison is responding to a  power')]))
print(len(df_no_notifyNYC[df_no_notifyNYC.text.str.contains('ConEdison is responding to a')]))
print(len(df_no_notifyNYC[df_no_notifyNYC.text.str.contains('Retweet')]))

# Pre-Processing

### TweetTokenize and Lemmatize all of the Titles

In [ ]:
# import tokenizer and stemmer
from nltk import word_tokenize, TweetTokenizer
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [ ]:
# define a function that takes in a tweet
# and tokenizes and stems that tweet
def stem_title(tweet):    
    stm = PorterStemmer()
    tokenized = word_tokenize(tweet)
    stem_tokes = []
    for toke in tokenized:
        stem_tokes.append(stm.stem(toke))
    stem_tokes

    comb = ''
    for stemmed in stem_tokes:
        comb += stemmed + ' '
    return comb

# define a function that takes in a tweet
# and tweet_tokenizes and lemmatizes that tweet
def lem_tweet(tweet):    
    lem = WordNetLemmatizer()
    tokenizer = TweetTokenizer()
    tokenized = tokenizer.tokenize(tweet)
    lemmed_tokes = []
    for toke in tokenized:
        lemmed_tokes.append(lem.lemmatize(toke))
    lemmed_tokes

    comb = ''
    for lemmed in lemmed_tokes:
        comb += lemmed + ' '
    return comb

In [ ]:
# check that the function works
lem_tweet(df.text[3])

In [ ]:
# create a new column by applying the function to the title column
# and check out the head to see if it worked
df['lemmed_tweet'] = df.text.apply(lem_tweet)
df.head()

In [ ]:
# check out the tail, too
df.tail()

In [ ]:
#df.to_csv('working_df.csv')

## Model Prep

### CountVectorize from Unlemmed

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
# Instantiate
cv = CountVectorizer(stop_words='english', 
                     ngram_range=(1,1)
                    )

In [ ]:
# Fit and Transform
sparse_df_unlemmed = cv.fit_transform(df.text)

In [ ]:
dense_df_unlemmed = pd.DataFrame(sparse_df_unlemmed.todense(), columns=cv.get_feature_names())
dense_df_unlemmed.head()

In [ ]:
len(cv.get_feature_names())

### CountVectorize from Lemmed

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
# Instantiate
cv = CountVectorizer(stop_words='english', 
                     ngram_range=(1,1)
                    )

In [ ]:
# Fit and Transform
sparse_df_lemmed = cv.fit_transform(df.lemmed_tweet)

In [ ]:
dense_df_lemmed = pd.DataFrame(sparse_df_lemmed.todense(), columns=cv.get_feature_names())
dense_df_lemmed.head()

In [ ]:
len(cv.get_feature_names())

In [ ]:
cv.get_feature_names()[6000:6008]

## Clustering

In [ ]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
km = KMeans(n_clusters=3, random_state=42)

In [ ]:
X_sc = ss.fit_transform(dense_df_lemmed)
km.fit(X_sc)

In [ ]:
from sklearn.metrics import silhouette_score

In [ ]:
silhouette_score(X_sc, km.labels_)

In [ ]:
len(df[km.labels_ == 0])

In [ ]:
len(df[km.labels_ == 1])

In [ ]:
len(df[km.labels_ == 2])

# Spacy Processing

In [ ]:
import spacy
nlp = spacy.load('en')
doc1 = nlp(df.lemmed_tweet[2])
print(doc1)

## Part-of-Speech Tagging

In [ ]:
# check out what this can do

for token in doc1:
    print('{} - {}'.format(token, token.pos_))

#### Extract Nouns from Tweets

In [ ]:
# define a function to extract a tweet's nouns 
# and return them in a single string,
# so that the string can then be added back into the dataframe

def extract_NOUN(tweet):
    doc = nlp(tweet)
    NOUNS = []
    for token in doc:
        if token.pos_ == 'NOUN':
            NOUNS.append(str(token))   
    #print(NOUNS)
    comb = ''
    for token in NOUNS:
        comb += token + ' '
    return comb

In [ ]:
# test out the function

extract_NOUN(df.lemmed_tweet[28])

In [ ]:
# apply the function to every lemmed tweet to create a new 'nouns' column

df['nouns'] = df.lemmed_tweet.apply(extract_NOUN)
df.head()

#### Extract Proper Nouns from Tweets

In [ ]:
# define a function to extract a tweet's proper nouns 
# and return them in a single string,
# so that the string can then be added back into the dataframe

def extract_PROPN(tweet):
    doc = nlp(tweet)
    PROPN = []
    for token in doc:
        if token.pos_ == 'PROPN':
            PROPN.append(str(token))   
    #print(PROPN)
    comb = ''
    for token in PROPN:
        comb += token + ' '
    return comb

In [ ]:
# test the function
extract_PROPN(df.lemmed_tweet[28])

In [ ]:
# apply the function to every lemmed tweet to create a new 'proper_nouns' column
df['proper_nouns'] = df.lemmed_tweet.apply(extract_PROPN)
df.head()

## Noun-Phrase-Chunking

In [ ]:
for chunk in doc1.noun_chunks:
    print('{} - {}'.format(chunk, chunk.label_))

#### Extract Noun Phrase Chunks from Tweets

In [ ]:
for tweet in df.lemmed_tweet[:30]:
    #print(nlp(i))
    doc = nlp(tweet)
    NP = []
    for chunk in doc.noun_chunks:
        NP.append(str(chunk))   
    print(NP)

## Named-Entity-Recognition

In [ ]:
for ent in doc1.ents:
    print(ent.text, '-', ent.label_)

#### Create a new column that contains Geopolitical Entities from Tweets

In [ ]:
# define a function that takes in a tweet and returns a single string
# that contains only the Geopolitical Entities from that tweet
def extract_GPE(tweet):
    doc = nlp(tweet)
    GPE = []
    for ent in doc.ents:
        if ent.label_ == 'GPE':
            GPE.append(str(ent.text))   
    #print(GPE)
    comb = ''
    for token in GPE:
        comb += token + ' '
    return comb

In [ ]:
# check that the function works
extract_GPE(df.lemmed_tweet[28])

In [ ]:
# apply the function to every lemmed tweet to create a new 'geopolitical_ents' column
df['geopolitical_ents'] = df.lemmed_tweet.apply(extract_GPE)
df.head()

### Dependency Parsing
Can we use this to get items like "Lighthouse Hill" that aren't recognized by Named-Entity-Recognition?

In [ ]:
df.lemmed_tweet[24]

In [ ]:
from spacy import displacy

nlp = spacy.load("en_core_web_sm")
doc = nlp(df.lemmed_tweet[24])
displacy.render(doc, style='dep')

In [ ]:
df.head()

In [ ]:
df.sort_values('datetime')