In [1]:
!ls ./data

OEM_Emergency_Notifications.csv tweets_3.csv
OEM_Non_Outages.csv             tweets_pseg_dec13_sep20.csv
non_outages.csv                 tweets_pseg_jun27_apr06.csv
open_nyc.csv                    tweets_pseg_sep6_july2
target.csv                      weather_target_merged.csv
tweets.csv                      working_df.csv
tweets_2.csv

In [2]:
import numpy as np
import pandas as pd

In [3]:
outages = pd.read_csv('./data/open_nyc.csv', index_col=0)

In [4]:
outages.head()

,datetime,notification_type,notification_title,email_body,outage
0,2018-12-27 13:00:00,Utility,Con Edison Power Outage - Gravesend (BK),Notification issued 12-27-2018 at 1:42 PM. Con...,1
1,2018-12-21 15:00:00,Utility,Power Outage - Breezy Point & Roxbury (QN),Notification issued 12-21-2018 at 3:20 PM. PSE...,1
2,2018-12-20 22:00:00,Utility,Power Outage - Far Rockaway Sectiojn (QN),Notification issued 12-20-2018 at 10:50 PM. PS...,1
3,2018-12-20 12:00:00,Utility,Power Outage - Pelham Parkway (BX),Notification issued 12-20-2018 at 12:40 PM. Co...,1
4,2018-12-10 05:00:00,Utility,Con Edison Power Outage - Hollis Section (QN),Notification issued 12-10-2018 at 5:21 PM. Con...,1

In [5]:
outages.shape

(567, 5)

In [6]:
non_outages = pd.read_csv('./data/non_outages.csv', index_col=0)

In [7]:
non_outages.head()

,datetime,notification_type,notification_title,email_body,outage
0,2017-10-28 22:00:00,Road Closure,Traffic Delays - FDR Drive at 34th Street (MN),Notification issued 10/28/17 at 10:22 PM. Due ...,0
1,2017-10-28 15:00:00,Weather,High Wind Watch - 10/29-10/30 (CW),Notification issued 10/28/17 at 3:30 PM. The N...,0
3,2017-10-28 09:00:00,Weather,Flash Flood Watch - 10/29 - 10/30 (CW),Notification issued 10/28/17 at 9:00 AM. The N...,0
4,2017-10-27 20:00:00,Road Closure,Traffic Delays - Cross Bronx Expressway at 3rd...,Notification issued 10/27/17 at 8:32 PM. Due t...,0
6,2017-10-27 17:00:00,Road Closure,Traffic Delays - Lincoln Tunnel (MN),Notification issued 10/27/17 at 5:44 PM. Due t...,0

In [8]:
non_outages.shape

(5871, 5)

In [9]:
non_outages.isnull().sum()

datetime               0
notification_type      0
notification_title     0
email_body            82
outage                 0
dtype: int64

In [10]:
# non_outages.duplicated('datetime').sum()

In [11]:
# non_outages = non_outages.drop_duplicates('datetime')

In [12]:
# non_outages.head()

In [13]:
merged_df = pd.concat([outages, non_outages])

In [14]:
merged_df.shape

(6438, 5)

In [15]:
merged_df.duplicated('datetime').sum()

74

In [16]:
# merged_df[merged_df.duplicated('datetime', keep=False) == True]

In [17]:
merged_df = merged_df.drop_duplicates('datetime')

In [18]:
# merged_df.iloc[1144]

In [19]:
merged_df.duplicated('datetime').sum()

0

In [20]:
merged_df.isnull().sum()

datetime               0
notification_type      0
notification_title     0
email_body            80
outage                 0
dtype: int64

In [21]:
merged_df.head()

,datetime,notification_type,notification_title,email_body,outage
0,2018-12-27 13:00:00,Utility,Con Edison Power Outage - Gravesend (BK),Notification issued 12-27-2018 at 1:42 PM. Con...,1
1,2018-12-21 15:00:00,Utility,Power Outage - Breezy Point & Roxbury (QN),Notification issued 12-21-2018 at 3:20 PM. PSE...,1
2,2018-12-20 22:00:00,Utility,Power Outage - Far Rockaway Sectiojn (QN),Notification issued 12-20-2018 at 10:50 PM. PS...,1
3,2018-12-20 12:00:00,Utility,Power Outage - Pelham Parkway (BX),Notification issued 12-20-2018 at 12:40 PM. Co...,1
4,2018-12-10 05:00:00,Utility,Con Edison Power Outage - Hollis Section (QN),Notification issued 12-10-2018 at 5:21 PM. Con...,1

In [22]:
merged_df['datetime'] = pd.to_datetime(merged_df['datetime'])

In [23]:
merged_df.dtypes

datetime              datetime64[ns]
notification_type             object
notification_title            object
email_body                    object
outage                         int64
dtype: object

In [24]:
merged_df.to_csv('./data/target.csv', index=False)

## Merge Weather & Target

In [25]:
target = pd.read_csv('./data/target.csv')

In [26]:
target.head()

,datetime,notification_type,notification_title,email_body,outage
0,2018-12-27 13:00:00,Utility,Con Edison Power Outage - Gravesend (BK),Notification issued 12-27-2018 at 1:42 PM. Con...,1
1,2018-12-21 15:00:00,Utility,Power Outage - Breezy Point & Roxbury (QN),Notification issued 12-21-2018 at 3:20 PM. PSE...,1
2,2018-12-20 22:00:00,Utility,Power Outage - Far Rockaway Sectiojn (QN),Notification issued 12-20-2018 at 10:50 PM. PS...,1
3,2018-12-20 12:00:00,Utility,Power Outage - Pelham Parkway (BX),Notification issued 12-20-2018 at 12:40 PM. Co...,1
4,2018-12-10 05:00:00,Utility,Con Edison Power Outage - Hollis Section (QN),Notification issued 12-10-2018 at 5:21 PM. Con...,1

In [27]:
target.dtypes

datetime              object
notification_type     object
notification_title    object
email_body            object
outage                 int64
dtype: object

In [28]:
target['datetime'] = pd.to_datetime(target['datetime'])

In [29]:
target.dtypes

datetime              datetime64[ns]
notification_type             object
notification_title            object
email_body                    object
outage                         int64
dtype: object

In [30]:
# target.datetime = target.datetime.map(lambda x: x.replace(minute=0, second=0))

In [31]:
target.duplicated('datetime').sum()

0

In [32]:
# target[target.duplicated('datetime', keep=False) == True]

In [33]:
!ls Weather/data

historical_hourly_weather_data       new_york_weather_dropped_col.csv
new_york_weather.csv                 new_york_weather_with_fahrenheit.csv
new_york_weather_all_numerical.csv   weather_clean.csv
new_york_weather_date_index.csv

In [34]:
weather = pd.read_csv('./Weather/data/weather_clean.csv')

In [35]:
weather.head()

,date,temperature_f,wind_dir_degrees,wind_speed_mph,broken_clouds,drizzle,dust,few_clouds,fog,freezing_rain,...,sky_is_clear,smoke,snow,squalls,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain
0,2012-10-01 13:00:00,59.11,260.0,15,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2012-10-01 14:00:00,59.16,260.0,15,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2012-10-01 15:00:00,59.30,260.0,15,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2012-10-01 16:00:00,59.44,260.0,15,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2012-10-01 17:00:00,59.58,261.0,13,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
weather.rename(columns={'date': 'datetime'}, inplace = True)

In [37]:
weather.dtypes[:5]

datetime             object
temperature_f       float64
wind_dir_degrees    float64
wind_speed_mph        int64
broken_clouds         int64
dtype: object

In [38]:
weather.datetime = pd.to_datetime(weather.datetime)

In [39]:
weather.dtypes[:5]

datetime            datetime64[ns]
temperature_f              float64
wind_dir_degrees           float64
wind_speed_mph               int64
broken_clouds                int64
dtype: object

In [40]:
print(target.shape)
print(weather.shape)

(6364, 5)
(44460, 40)

In [41]:
wt_merge = weather.merge(target)

In [42]:
wt_merge.shape

(6215, 44)

In [43]:
wt_merge.duplicated('datetime').sum()

0

In [44]:
wt_merge.isnull().sum()

datetime                                0
temperature_f                           0
wind_dir_degrees                        0
wind_speed_mph                          0
broken_clouds                           0
drizzle                                 0
dust                                    0
few_clouds                              0
fog                                     0
freezing_rain                           0
haze                                    0
heavy_intensity_drizzle                 0
heavy_intensity_rain                    0
heavy_snow                              0
heavy_thunderstorm                      0
light_intensity_drizzle                 0
light_intensity_shower_rain             0
light_rain                              0
light_rain_and_snow                     0
light_snow                              0
mist                                    0
moderate_rain                           0
overcast_clouds                         0
proximity_thunderstorm                  0
proximity_thunderstorm_with_drizzle     0
proximity_thunderstorm_with_rain        0
sand                                    0
sand/dust_whirls                        0
scattered_clouds                        0
shower_rain                             0
sky_is_clear                            0
smoke                                   0
snow                                    0
squalls                                 0
thunderstorm                            0
thunderstorm_with_heavy_rain            0
thunderstorm_with_light_drizzle         0
thunderstorm_with_light_rain            0
thunderstorm_with_rain                  0
very_heavy_rain                         0
notification_type                       0
notification_title                      0
email_body                             80
outage                                  0
dtype: int64

In [45]:
print(wt_merge.datetime.sort_values().iloc[0])
print(wt_merge.datetime.sort_values().iloc[-1])

2012-10-02 00:00:00
2017-10-27 20:00:00

In [46]:
wt_merge.set_index('datetime', inplace=True)

In [47]:
weather_target_df = wt_merge.sort_index()

In [48]:
weather_target_df.head(2)

,temperature_f,wind_dir_degrees,wind_speed_mph,broken_clouds,drizzle,dust,few_clouds,fog,freezing_rain,haze,...,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain,notification_type,notification_title,email_body,outage
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-02 00:00:00,60.58,264.0,13,0,0,0,1,0,0,0,...,0,0,0,0,0,0,Road Closure,All Lanes Closed - Whitestone Bridge,Notification issued 10/2/2012 at 12:07 AM. Due...,0
2012-10-02 03:00:00,61.01,265.0,13,0,0,0,1,0,0,0,...,0,0,0,0,0,0,Road Closure,All Lanes Re-opened - Whitestone Bridge,Notification issued 10/2/2012 at 3:39 AM. Afte...,0

In [49]:
weather_target_df.to_csv('./data/weather_target_merged.csv')