In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB

from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, precision_recall_curve
from sklearn.ensemble import GradientBoostingClassifier

In [3]:
df = pd.read_csv('./data/weather_target_numerical.csv')
df.head()

,datetime,aerial_(fly-over),drills/exercises,environmental,fire,infrastructure,mass_transit_disruption,mass_transit_restoration,missing_adult,missing_child/adolescent,...,smoke,snow,squalls,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain,outage
0,2012-03-16 23:00:00,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2012-03-25 14:00:00,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2012-03-28 23:00:00,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,2012-04-09 10:00:00,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,2012-04-18 14:00:00,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [4]:
df.shape

(44609, 58)

In [5]:
df.isnull().sum()

datetime                                   0
aerial_(fly-over)                          0
drills/exercises                           0
environmental                              0
fire                                       0
infrastructure                             0
mass_transit_disruption                    0
mass_transit_restoration                   0
missing_adult                              0
missing_child/adolescent                   0
parking                                    0
public_awareness                           0
public_health                              0
road_closure                               0
school_notification                        0
structural                                 0
utility                                    0
weather                                    0
temperature_f                            149
wind_dir_degrees                         149
wind_speed_mph                           149
broken_clouds                            149
drizzle                                  149
dust                                     149
few_clouds                               149
fog                                      149
freezing_rain                            149
haze                                     149
heavy_intensity_drizzle                  149
heavy_intensity_rain                     149
heavy_snow                               149
heavy_thunderstorm                       149
light_intensity_drizzle                  149
light_intensity_shower_rain              149
light_rain                               149
light_rain_and_snow                      149
light_snow                               149
mist                                     149
moderate_rain                            149
overcast_clouds                          149
proximity_thunderstorm                   149
proximity_thunderstorm_with_drizzle      149
proximity_thunderstorm_with_rain         149
sand                                     149
sand/dust_whirls                         149
scattered_clouds                         149
shower_rain                              149
sky_is_clear                             149
smoke                                    149
snow                                     149
squalls                                  149
thunderstorm                             149
thunderstorm_with_heavy_rain             149
thunderstorm_with_light_drizzle          149
thunderstorm_with_light_rain             149
thunderstorm_with_rain                   149
very_heavy_rain                          149
outage                                 38245
dtype: int64

In [6]:
df.dropna().shape

(6215, 58)

In [7]:
df.head()

,datetime,aerial_(fly-over),drills/exercises,environmental,fire,infrastructure,mass_transit_disruption,mass_transit_restoration,missing_adult,missing_child/adolescent,...,smoke,snow,squalls,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain,outage
0,2012-03-16 23:00:00,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2012-03-25 14:00:00,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,2012-03-28 23:00:00,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,2012-04-09 10:00:00,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,2012-04-18 14:00:00,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0