In [1]:
import pandas as pd

In [2]:
!ls ../data

tweets.csv                  tweets_pseg_jun27_apr06.csv
tweets_2.csv                tweets_pseg_sep6_july2
tweets_3.csv                working_df.csv
tweets_pseg_dec13_sep20.csv

In [3]:
raw = pd.read_csv('../raw_tweets/raw_tweets.csv', index_col = 0)

In [4]:
# df = pd.read_csv('../data/working_df.csv', index_col = 0)

In [5]:
# raw.columns

In [6]:
# df.columns

In [7]:
# df.stemmed_text.head()

In [8]:
raw.shape

(4375, 13)

In [9]:
# Kevin's code.
unique = []
for i in raw.columns:
    uniques = {}
    uniques['column'] = i 
    uniques['unique values'] = raw[i].nunique()
    unique.append(uniques)
pd.DataFrame(unique)

           column  unique values
0              ID           4375
1        datetime           4255
2       has_media              2
3        is_reply              2
4      is_retweet              1
5          medias             49
6    nbr_favorite             33
7       nbr_reply             19
8     nbr_retweet             45
9            text           4116
10            url           4373
11        user_id           2533
12  usernameTweet           2533

In [10]:
raw.usernameTweet.value_counts()[:20]

NotifyNYC         641
EastCoast911IA    135
ConEdison         113
Shield1631         95
outagetracker      31
NYCityAlerts       20
WHCREBT            16
NYGovCuomo         14
StatenIslUSA       14
BNNnews            14
res7cuefox5        13
BreakingNewsNY     13
nyc311             13
BreakingNewsUS     13
bnndesk            12
TalkoftheSound     11
AlwaysActions      11
yonkersoem40       11
fox5ny             11
JoshuaRockoff      10
Name: usernameTweet, dtype: int64

In [11]:
notify_nyc = raw[raw.usernameTweet == 'NotifyNYC']

In [12]:
notify_nyc.usernameTweet.value_counts()

NotifyNYC    641
Name: usernameTweet, dtype: int64

In [13]:
notify_nyc.nunique()

ID               641
datetime         641
has_media          1
is_reply           1
is_retweet         1
medias             3
nbr_favorite      14
nbr_reply          6
nbr_retweet       24
text             623
url              641
user_id            1
usernameTweet      1
dtype: int64

In [14]:
notify_nyc = notify_nyc.drop_duplicates('text')
notify_nyc.shape

(623, 13)

In [15]:
notify_nyc  = notify_nyc[['datetime', 'text']]

In [16]:
notify_nyc.dtypes

datetime    object
text        object
dtype: object

In [17]:
notify_nyc.isnull().sum()

datetime    0
text        0
dtype: int64

In [18]:
notify_nyc.datetime = pd.to_datetime(notify_nyc.datetime)

In [19]:
notify_nyc.dtypes

datetime    datetime64[ns]
text                object
dtype: object

In [20]:
notify_nyc = notify_nyc.set_index('datetime')

In [21]:
# https://stackoverflow.com/questions/39805961/pandas-remove-seconds-from-datetime-index
notify_nyc.index = notify_nyc.index.map(lambda x: x.replace(minute=0, second=0))

In [22]:
notify_nyc.head()

                                                                  text
datetime
2016-08-20 15:00:00  .@ConEdison  is responding to a  power   outag...
2016-08-13 16:00:00  .@ConEdison  is responding to a  power   outag...
2015-04-02 22:00:00  Power   outage  in the North East section of T...
2015-10-03 20:00:00  .@ConEd  at  power   outage  in Bayside, QN ZI...
2016-07-22 20:00:00  .@ConEdison  is responding to a  power   outag...