In [1]:
import pandas as pd

In [2]:
!ls ../data

OEM_Emergency_Notifications.csv tweets_pseg_dec13_sep20.csv
tweets.csv                      tweets_pseg_jun27_apr06.csv
tweets_2.csv                    tweets_pseg_sep6_july2
tweets_3.csv                    working_df.csv

In [3]:
raw = pd.read_csv('../raw_tweets/raw_tweets.csv', index_col = 0)

In [4]:
# df = pd.read_csv('../data/working_df.csv', index_col = 0)

In [5]:
# raw.columns

In [6]:
# df.columns

In [7]:
# df.stemmed_text.head()

In [8]:
raw.shape

(4375, 13)

In [9]:
# Kevin's code.
unique = []
for i in raw.columns:
    uniques = {}
    uniques['column'] = i 
    uniques['unique values'] = raw[i].nunique()
    unique.append(uniques)
pd.DataFrame(unique)

           column  unique values
0              ID           4375
1        datetime           4255
2       has_media              2
3        is_reply              2
4      is_retweet              1
5          medias             49
6    nbr_favorite             33
7       nbr_reply             19
8     nbr_retweet             45
9            text           4116
10            url           4373
11        user_id           2533
12  usernameTweet           2533

In [10]:
raw.usernameTweet.value_counts()[:20]

NotifyNYC         641
EastCoast911IA    135
ConEdison         113
Shield1631         95
outagetracker      31
NYCityAlerts       20
WHCREBT            16
StatenIslUSA       14
BNNnews            14
NYGovCuomo         14
BreakingNewsUS     13
BreakingNewsNY     13
res7cuefox5        13
nyc311             13
bnndesk            12
yonkersoem40       11
TalkoftheSound     11
AlwaysActions      11
fox5ny             11
JoshuaRockoff      10
Name: usernameTweet, dtype: int64

In [11]:
notify_nyc = raw[raw.usernameTweet == 'NotifyNYC']

In [12]:
notify_nyc.usernameTweet.value_counts()

NotifyNYC    641
Name: usernameTweet, dtype: int64

In [13]:
notify_nyc.nunique()

ID               641
datetime         641
has_media          1
is_reply           1
is_retweet         1
medias             3
nbr_favorite      14
nbr_reply          6
nbr_retweet       24
text             623
url              641
user_id            1
usernameTweet      1
dtype: int64

In [14]:
notify_nyc = notify_nyc.drop_duplicates('text')
notify_nyc.shape

(623, 13)

In [15]:
notify_nyc  = notify_nyc[['datetime', 'text']]

In [16]:
notify_nyc.dtypes

datetime    object
text        object
dtype: object

In [17]:
notify_nyc.isnull().sum()

datetime    0
text        0
dtype: int64

In [18]:
notify_nyc.datetime = pd.to_datetime(notify_nyc.datetime)

In [19]:
notify_nyc.dtypes

datetime    datetime64[ns]
text                object
dtype: object

In [20]:
notify_nyc = notify_nyc.set_index('datetime')

In [21]:
# https://stackoverflow.com/questions/39805961/pandas-remove-seconds-from-datetime-index
notify_nyc.index = notify_nyc.index.map(lambda x: x.replace(minute=0, second=0))

In [22]:
notify_nyc.head()

                                                                  text
datetime
2016-08-20 15:00:00  .@ConEdison  is responding to a  power   outag...
2016-08-13 16:00:00  .@ConEdison  is responding to a  power   outag...
2015-04-02 22:00:00  Power   outage  in the North East section of T...
2015-10-03 20:00:00  .@ConEd  at  power   outage  in Bayside, QN ZI...
2016-07-22 20:00:00  .@ConEdison  is responding to a  power   outag...

In [23]:
notify_nyc = notify_nyc.sort_index()

In [24]:
notify_nyc.index

DatetimeIndex(['2009-10-15 13:00:00', '2009-12-29 11:00:00',
               '2010-01-22 18:00:00', '2010-01-25 13:00:00',
               '2010-01-25 13:00:00', '2010-01-27 17:00:00',
               '2010-02-10 19:00:00', '2010-02-14 23:00:00',
               '2010-02-26 11:00:00', '2010-03-22 01:00:00',
               ...
               '2019-03-02 18:00:00', '2019-03-04 00:00:00',
               '2019-03-08 19:00:00', '2019-03-10 19:00:00',
               '2019-03-24 18:00:00', '2019-03-30 19:00:00',
               '2019-04-05 12:00:00', '2019-04-15 00:00:00',
               '2019-04-15 06:00:00', '2019-04-16 21:00:00'],
              dtype='datetime64[ns]', name='datetime', length=623, freq=None)

## Tweets Dataframe ( Version 2 )

In [25]:
!ls ../data

OEM_Emergency_Notifications.csv tweets_pseg_dec13_sep20.csv
tweets.csv                      tweets_pseg_jun27_apr06.csv
tweets_2.csv                    tweets_pseg_sep6_july2
tweets_3.csv                    working_df.csv

In [26]:
tweets = pd.read_csv('../raw_tweets/raw_tweets.csv', index_col = 0)

In [27]:
tweets.head(2)

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet
0,267716394043465728,2012-11-11 14:52:16,NaN,False,False,NaN,0.0,0.0,0.0,ConEd : NY Sandy power outages slip; costs...,/RealJezzy/status/267716394043465728,504279674.0,RealJezzy
1,298660085255770112,2013-02-05 00:11:27,NaN,False,False,NaN,0.0,0.0,0.0,@ ConEdison \n Power outage in queens,/meirBGNY/status/298660085255770112,909594764.0,meirBGNY

In [28]:
# for tweet in tweets.text:
#     print(tweet)

In [29]:
# tweets.text.str.contains(r"(responding)\s+(to)", regex = True).sum()

In [30]:
# tweets[tweets.usernameTweet == 'NotifyNYC']

In [31]:
# tweets = tweets[['datetime', 'text']]
# tweets.shape

In [32]:
# tweets.drop_duplicates('text')

## Open NYC Data

In [33]:
open_nyc = pd.read_csv('../data/OEM_Emergency_Notifications.csv')

In [34]:
open_nyc.head()

,Record ID,Date and Time,NotificationType,Notification Title,Email Body
0,11993,12/27/2018 01:42:00 PM,Utility,Con Edison Power Outage - Gravesend (BK),Notification issued 12-27-2018 at 1:42 PM. Con...
1,11948,12/21/2018 03:20:00 PM,Utility,Power Outage - Breezy Point & Roxbury (QN),Notification issued 12-21-2018 at 3:20 PM. PSE...
2,11933,12/20/2018 10:50:00 PM,Utility,Power Outage - Far Rockaway Sectiojn (QN),Notification issued 12-20-2018 at 10:50 PM. PS...
3,11930,12/20/2018 12:40:00 PM,Utility,Power Outage - Pelham Parkway (BX),Notification issued 12-20-2018 at 12:40 PM. Co...
4,11834,12/10/2018 05:21:00 AM,Utility,Con Edison Power Outage - Hollis Section (QN),Notification issued 12-10-2018 at 5:21 PM. Con...

In [35]:
open_nyc.shape

(579, 5)

In [36]:
open_nyc.columns

Index(['Record ID', 'Date and Time', 'NotificationType', 'Notification Title',
       'Email Body'],
      dtype='object')

In [37]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.insert.html
open_nyc.insert(5, 'outage', 1)

In [38]:
open_nyc.drop(columns = ['Record ID', 'NotificationType'], inplace = True)

In [39]:
open_nyc.head()

,Date and Time,Notification Title,Email Body,outage
0,12/27/2018 01:42:00 PM,Con Edison Power Outage - Gravesend (BK),Notification issued 12-27-2018 at 1:42 PM. Con...,1
1,12/21/2018 03:20:00 PM,Power Outage - Breezy Point & Roxbury (QN),Notification issued 12-21-2018 at 3:20 PM. PSE...,1
2,12/20/2018 10:50:00 PM,Power Outage - Far Rockaway Sectiojn (QN),Notification issued 12-20-2018 at 10:50 PM. PS...,1
3,12/20/2018 12:40:00 PM,Power Outage - Pelham Parkway (BX),Notification issued 12-20-2018 at 12:40 PM. Co...,1
4,12/10/2018 05:21:00 AM,Con Edison Power Outage - Hollis Section (QN),Notification issued 12-10-2018 at 5:21 PM. Con...,1

In [40]:
borough = open_nyc['Notification Title'].str.extract("(BK)|(QN)|(BX)|(SI)|(MN)")

In [41]:
borough.columns[1:]

Int64Index([1, 2, 3, 4], dtype='int64')

In [42]:
new_borough = pd.DataFrame(borough[0].fillna(borough[1]))
new_borough.head()

     0
0   BK
1   QN
2   QN
3  NaN
4   QN

In [43]:
new_borough = pd.DataFrame(new_borough[0].fillna(borough[2]))
new_borough.head()

    0
0  BK
1  QN
2  QN
3  BX
4  QN

In [44]:
for column in borough.columns[2:]:
    new_borough = pd.DataFrame(new_borough[0].fillna(borough[column]))
new_borough.head()

    0
0  BK
1  QN
2  QN
3  BX
4  QN

In [45]:
new_borough[0].value_counts()

QN    181
SI    141
BX    110
BK    107
MN     16
Name: 0, dtype: int64

In [46]:
new_borough.shape

(579, 1)

In [47]:
new_borough.isnull().sum()

0    24
dtype: int64

In [48]:
# for notification in open_nyc['Notification Title']:
#     print(notification)