In [2]:
import pandas as pd
import pytemperature

ModuleNotFoundError: No module named 'pytemperature'

In [ ]:
humidity = pd.read_csv('data/historical_hourly_weather_data/humidity.csv')

In [3]:
humidity.head(2)

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,25.0,NaN,NaN,NaN
1,2012-10-01 13:00:00,76.0,81.0,88.0,81.0,88.0,82.0,22.0,23.0,50.0,...,71.0,58.0,93.0,68.0,50.0,63.0,22.0,51.0,51.0,50.0

In [4]:
humidity[['datetime', 'New York']].head()

              datetime  New York
0  2012-10-01 12:00:00       NaN
1  2012-10-01 13:00:00      58.0
2  2012-10-01 14:00:00      57.0
3  2012-10-01 15:00:00      57.0
4  2012-10-01 16:00:00      57.0

In [5]:
pressure = pd.read_csv('data/historical_hourly_weather_data/pressure.csv')

In [6]:
temperature = pd.read_csv('data/historical_hourly_weather_data/temperature.csv')

In [7]:
weather_des = pd.read_csv('data/historical_hourly_weather_data/weather_description.csv')

In [8]:
wind_dir = pd.read_csv('data/historical_hourly_weather_data/wind_direction.csv')

In [9]:
wind_speed = pd.read_csv('data/historical_hourly_weather_data/wind_speed.csv')

In [10]:
df_list = [pressure, temperature, weather_des, wind_dir, wind_speed]

In [11]:
df_names = ['pressure', 'temperature', 'weather_des', 'wind_dir', 'wind_speed']

In [12]:
# for df in df_list:
#     print(df.shape)
#     print(df.head(2))

In [13]:
merged_df = humidity[['datetime', 'New York']].rename(columns = {'datetime' : 'date', 'New York' : 'ny_humidity'})

In [14]:
df_counter = 0
for df in df_list:
    # print(df_names[df_counter])
    df_name = df_names[df_counter]
    # print(df_name)
    # print(df_name)
    # print(df[['datetime', 'New York']].head(2))
    # print('ny_' + df_name)
#   new_name = 'ny_' + df_name
#   print(new_name)
    new_df = df[['datetime', 'New York']].rename(columns = {'datetime' : 'date', 'New York' : 'ny_' + df_name})
    merged_df = merged_df.merge(new_df, how = 'right', on = 'date')
#   print(new_name.head(2))
    df_counter += 1

In [15]:
merged_df.head()

,date,ny_humidity,ny_pressure,ny_temperature,ny_weather_des,ny_wind_dir,ny_wind_speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,58.0,1012.0,288.220000,few clouds,260.0,7.0
2,2012-10-01 14:00:00,57.0,1012.0,288.247676,few clouds,260.0,7.0
3,2012-10-01 15:00:00,57.0,1012.0,288.326940,few clouds,260.0,7.0
4,2012-10-01 16:00:00,57.0,1012.0,288.406203,few clouds,260.0,7.0

In [16]:
merged_df['date'] = pd.to_datetime(merged_df['date'])

In [17]:
merged_df.dtypes

date              datetime64[ns]
ny_humidity              float64
ny_pressure              float64
ny_temperature           float64
ny_weather_des            object
ny_wind_dir              float64
ny_wind_speed            float64
dtype: object

In [18]:
merged_df.shape

(45253, 7)

In [19]:
merged_df.dropna().shape

(43609, 7)

In [20]:
# for i in range(45253):
#     print(i, merged_df['ny_temperature'].iloc[i])

In [21]:
merged_df.head(2)

,date,ny_humidity,ny_pressure,ny_temperature,ny_weather_des,ny_wind_dir,ny_wind_speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,58.0,1012.0,288.22,few clouds,260.0,7.0

In [22]:
merged_df.to_csv('data/new_york_weather.csv', index = False)

In [23]:
for column in merged_df.columns:
    print(merged_df[column].isnull().sum())

0
1624
1041
793
793
793
793

In [24]:
merged_df = merged_df.drop(columns = ['ny_humidity', 'ny_pressure'])

In [25]:
merged_df.to_csv('data/new_york_weather_dropped_col.csv', index = False)

In [26]:
merged_df.shape

(45253, 5)

In [27]:
# for i in range(45253):
#     print(i, merged_df['ny_weather_des'].iloc[i])

In [28]:
merged_df = merged_df.iloc[1:44461]

In [29]:
merged_df.shape

(44460, 5)

In [30]:
merged_df.isnull().sum()

date              0
ny_temperature    0
ny_weather_des    0
ny_wind_dir       0
ny_wind_speed     0
dtype: int64

In [31]:
merged_df = merged_df.set_index('date').sort_index()

In [32]:
merged_df.describe()

       ny_temperature   ny_wind_dir  ny_wind_speed
count    44460.000000  44460.000000   44460.000000
mean       285.400406    196.250247       3.210954
std         10.220932    107.433676       2.189716
min        250.774000      0.000000       0.000000
25%        277.370000    104.000000       2.000000
50%        285.870000    220.000000       3.000000
75%        293.760000    289.000000       4.000000
max        310.240000    360.000000      25.000000

In [33]:
merged_df.head(2)

                     ny_temperature ny_weather_des  ny_wind_dir  ny_wind_speed
date
2012-10-01 13:00:00      288.220000     few clouds        260.0            7.0
2012-10-01 14:00:00      288.247676     few clouds        260.0            7.0

In [34]:
merged_df.to_csv('data/new_york_weather_date_index.csv')

In [35]:
# https://pypi.org/project/pytemperature/
merged_df['ny_temperature'] = pytemperature.k2f(merged_df['ny_temperature'])

In [36]:
merged_df.head()

                     ny_temperature ny_weather_des  ny_wind_dir  ny_wind_speed
date
2012-10-01 13:00:00           59.11     few clouds        260.0            7.0
2012-10-01 14:00:00           59.16     few clouds        260.0            7.0
2012-10-01 15:00:00           59.30     few clouds        260.0            7.0
2012-10-01 16:00:00           59.44     few clouds        260.0            7.0
2012-10-01 17:00:00           59.58     few clouds        261.0            6.0

In [37]:
merged_df.to_csv('data/new_york_weather_with_fahrenheit.csv')

In [38]:
merged_df.ny_weather_des.value_counts()

sky is clear                           11601
broken clouds                           6263
mist                                    5415
scattered clouds                        4595
overcast clouds                         4481
light rain                              4002
few clouds                              3329
fog                                     1085
moderate rain                            950
haze                                     691
light intensity drizzle                  408
light snow                               383
heavy intensity rain                     372
drizzle                                  224
heavy snow                               130
proximity thunderstorm                   114
snow                                      99
very heavy rain                           94
thunderstorm                              74
thunderstorm with light rain              36
dust                                      21
heavy intensity drizzle                   20
thunderstorm with rain                    20
thunderstorm with heavy rain              12
light rain and snow                       11
smoke                                      9
freezing rain                              6
squalls                                    4
proximity thunderstorm with rain           3
thunderstorm with light drizzle            2
shower rain                                1
proximity thunderstorm with drizzle        1
light intensity shower rain                1
sand                                       1
heavy thunderstorm                         1
sand/dust whirls                           1
Name: ny_weather_des, dtype: int64

In [39]:
merged_df.ny_weather_des.nunique()

36

In [40]:
dummy_variables = pd.get_dummies(merged_df['ny_weather_des'])

In [41]:
numerical_df = merged_df.merge(dummy_variables, how = 'left', on = 'date')

In [42]:
numerical_df.drop(columns ='ny_weather_des', inplace = True)

In [43]:
numerical_df.shape

(44460, 39)

In [44]:
numerical_df.to_csv('data/new_york_weather_all_numerical.csv')

In [45]:
numerical_df.ny_wind_dir.nunique()

361

In [46]:
def convert_mph(meters_ps):
    miles = meters_ps / 1609.344
    miles_ph = miles * 3600
    
    return int(miles_ph)

In [47]:
numerical_df.ny_wind_speed[200]

2.0

In [48]:
convert_mph(numerical_df.ny_wind_speed[200])

4

In [49]:
numerical_df.ny_wind_speed = numerical_df.ny_wind_speed.map(lambda cell: convert_mph(cell))

In [50]:
numerical_df.head(2)

,ny_temperature,ny_wind_dir,ny_wind_speed,broken clouds,drizzle,dust,few clouds,fog,freezing rain,haze,...,sky is clear,smoke,snow,squalls,thunderstorm,thunderstorm with heavy rain,thunderstorm with light drizzle,thunderstorm with light rain,thunderstorm with rain,very heavy rain
date,,,,,,,,,,,,,,,,,,,,,
2012-10-01 13:00:00,59.11,260.0,15,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2012-10-01 14:00:00,59.16,260.0,15,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
numerical_df.rename(columns = {
    'ny_temperature' : 'temperature_f',
    'ny_wind_dir'   : 'wind_dir_degrees',
    'ny_wind_speed'  : 'wind_speed_mph'
}, inplace = True)

In [52]:
column_new_names = []
for column in numerical_df.columns:
    new_name = column.replace(' ', '_')
    column_new_names.append(new_name)

In [53]:
column_new_names[4:8]

['drizzle', 'dust', 'few_clouds', 'fog']

In [54]:
numerical_df.head(2)

,temperature_f,wind_dir_degrees,wind_speed_mph,broken clouds,drizzle,dust,few clouds,fog,freezing rain,haze,...,sky is clear,smoke,snow,squalls,thunderstorm,thunderstorm with heavy rain,thunderstorm with light drizzle,thunderstorm with light rain,thunderstorm with rain,very heavy rain
date,,,,,,,,,,,,,,,,,,,,,
2012-10-01 13:00:00,59.11,260.0,15,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2012-10-01 14:00:00,59.16,260.0,15,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
numerical_df.columns = column_new_names

In [58]:
numerical_df.head(2)

,temperature_f,wind_dir_degrees,wind_speed_mph,broken_clouds,drizzle,dust,few_clouds,fog,freezing_rain,haze,...,sky_is_clear,smoke,snow,squalls,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain
date,,,,,,,,,,,,,,,,,,,,,
2012-10-01 13:00:00,59.11,260.0,15,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2012-10-01 14:00:00,59.16,260.0,15,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
numerical_df.index

DatetimeIndex(['2012-10-01 13:00:00', '2012-10-01 14:00:00',
               '2012-10-01 15:00:00', '2012-10-01 16:00:00',
               '2012-10-01 17:00:00', '2012-10-01 18:00:00',
               '2012-10-01 19:00:00', '2012-10-01 20:00:00',
               '2012-10-01 21:00:00', '2012-10-01 22:00:00',
               ...
               '2017-10-27 15:00:00', '2017-10-27 16:00:00',
               '2017-10-27 17:00:00', '2017-10-27 18:00:00',
               '2017-10-27 19:00:00', '2017-10-27 20:00:00',
               '2017-10-27 21:00:00', '2017-10-27 22:00:00',
               '2017-10-27 23:00:00', '2017-10-28 00:00:00'],
              dtype='datetime64[ns]', name='date', length=44460, freq=None)

In [57]:
numerical_df.to_csv('data/weather_clean.csv')