# Contents
1. [Data Cleaning (Weather)](#1.-Data-Cleaning-(Weather))
2. [Data Cleaning (Power Outages)](#2.-Data-Cleaning-(Power-Outages))
3. [Model Prep](#3.-Model-Prep)
4. [NLP Exploration](#4.-NLP-Exploration)
5. [Final Cleanup Before Merging with Weather](#5.-Final-Cleanup-Before-Merge)

In [1]:
# Load libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pytemperature

# Python magic to display matplolib plots in the notebook.
%matplotlib inline

## 1. Data Cleaning (Weather)

#### Loading weather data downloaded from [Kaggle's Historic Hourly Weather](https://www.kaggle.com/selfishgene/historical-hourly-weather-data).

In [2]:
# Load weather data from multiple CSV files.
humidity = pd.read_csv('data/kaggle_weather_datasets/humidity.csv')
pressure = pd.read_csv('data/kaggle_weather_datasets/pressure.csv')
temperature = pd.read_csv('data/kaggle_weather_datasets/temperature.csv')
weather_des = pd.read_csv('data/kaggle_weather_datasets/weather_description.csv')
wind_dir = pd.read_csv('data/kaggle_weather_datasets/wind_direction.csv')
wind_speed = pd.read_csv('data/kaggle_weather_datasets/wind_speed.csv')

In [3]:
# Check format of datasets. 
temperature.head(2)

,datetime,Vancouver,Portland,San Francisco,Seattle,Los Angeles,San Diego,Las Vegas,Phoenix,Albuquerque,...,Philadelphia,New York,Montreal,Boston,Beersheba,Tel Aviv District,Eilat,Haifa,Nahariyya,Jerusalem
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,309.10,NaN,NaN,NaN
1,2012-10-01 13:00:00,284.63,282.08,289.48,281.8,291.87,291.53,293.41,296.6,285.12,...,285.63,288.22,285.83,287.17,307.59,305.47,310.58,304.4,304.4,303.5

#### Merging weather datasets.

In [4]:
# Merge datasets, keeping only New York weather information.

df_list = [pressure, temperature, weather_des, wind_dir, wind_speed]
df_names = ['pressure', 'temperature', 'weather_des', 'wind_dir', 'wind_speed']

## Create "merged_df" variable with humidity dataset.
merged_df = humidity[['datetime', 'New York']].rename(columns = {'New York' : 'ny_humidity'})

## For loop to add remaining datasets to "merged_df".
df_counter = 0
for df in df_list:
    df_name = df_names[df_counter]
    new_df = df[['datetime', 'New York']].rename(columns = {'New York' : 'ny_' + df_name})
    merged_df = merged_df.merge(new_df, how = 'right', on = 'datetime')
    df_counter += 1
    
## Check shape of merged dataframes.
print('Merged dataset has {} rows and {} columns.'.format(merged_df.shape[0], merged_df.shape[1]))
## Check "merged_df"
merged_df.head()

Merged dataset has 45253 rows and 7 columns.

,datetime,ny_humidity,ny_pressure,ny_temperature,ny_weather_des,ny_wind_dir,ny_wind_speed
0,2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
1,2012-10-01 13:00:00,58.0,1012.0,288.220000,few clouds,260.0,7.0
2,2012-10-01 14:00:00,57.0,1012.0,288.247676,few clouds,260.0,7.0
3,2012-10-01 15:00:00,57.0,1012.0,288.326940,few clouds,260.0,7.0
4,2012-10-01 16:00:00,57.0,1012.0,288.406203,few clouds,260.0,7.0

#### Changing format, datatypes, dropping nulls,  and re-setting index.

In [5]:
# Change datatype of "datetime" column from object to datetime.
merged_df['datetime'] = pd.to_datetime(merged_df['datetime'])

In [6]:
# Dropped humidity and pressure data, due to assumption that there is no strong correlation between these and power outages.
merged_df = merged_df.drop(columns = ['ny_humidity', 'ny_pressure'])

In [7]:
# Drop null values by indexing. Null values are located only at beginning of dataframe and end of dataframe.
# This allows for no gaps in between 10/1/2012 2 PM - 10/28/2017 12 AM.

merged_df = merged_df.iloc[1:44461]

In [8]:
# Set "datetime" column as index
merged_df = merged_df.set_index('datetime').sort_index()

In [9]:
# Change temperature data from Kelvin to Fahrenheit.
# https://pypi.org/project/pytemperature/
merged_df['ny_temperature'] = pytemperature.k2f(merged_df['ny_temperature'])

In [10]:
# Function to convert meters per second to miles per hour.
def convert_mph(meters_ps):
    miles = meters_ps / 1609.344
    miles_ph = miles * 3600
    
    return int(miles_ph)

# Convert "ny_wind_speed" (wind speed) from meters per second to miles per hour. 
merged_df.ny_wind_speed = merged_df.ny_wind_speed.map(lambda cell: convert_mph(cell))

In [11]:
# Rename columns to reflect units.
merged_df.rename(columns = {
    'ny_temperature' : 'temperature_f',
    'ny_wind_dir'    : 'wind_dir_degrees',
    'ny_wind_speed'  : 'wind_speed_mph'
}, inplace = True)

# Change format of column names; spaces replaced by underscores.
column_new_names = []
for column in merged_df.columns:
    new_name = column.replace(' ', '_')
    column_new_names.append(new_name)
merged_df.columns = column_new_names

#### Creating dummy variables for wind descriptions.

In [13]:
# Create dummy features for text values in "ny_weather_des" (weather descriptions).

## Check how many unique values for weather descriptions.
print('{} unique weather description values.'.format(merged_df.ny_weather_des.nunique()))

## Create dummy variables. 
dummy_variables = pd.get_dummies(merged_df['ny_weather_des'])

## Merge dummy variables with merged_df that holds other weather features.
numerical_df = merged_df.merge(dummy_variables, how = 'left', on = 'datetime')

## Drop text/object dtype column "ny_weather_des" (weather descriptions).
numerical_df.drop(columns ='ny_weather_des', inplace = True)

36 unique weather description values.

#### Final cleaned weather dataframe.

In [15]:
# Check shape of cleaned weather data.
print('Merged dataset has {} rows and {} columns.'.format(numerical_df.shape[0], numerical_df.shape[1]))
#  Check "numerical_df".
numerical_df.head(3)

Merged dataset has 44460 rows and 39 columns.

,temperature_f,wind_dir_degrees,wind_speed_mph,broken clouds,drizzle,dust,few clouds,fog,freezing rain,haze,...,sky is clear,smoke,snow,squalls,thunderstorm,thunderstorm with heavy rain,thunderstorm with light drizzle,thunderstorm with light rain,thunderstorm with rain,very heavy rain
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-01 13:00:00,59.11,260.0,15,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2012-10-01 14:00:00,59.16,260.0,15,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2012-10-01 15:00:00,59.30,260.0,15,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## 2. Data Cleaning (Power Outages)

#### Loading power outage data downloaded from [NYC OpenData's OEM Emergency Notifications](https://data.cityofnewyork.us/Public-Safety/OEM-Emergency-Notifications/8vv7-7wx3/data).

In [19]:
# Load outage data from multiple CSV files.
open_nyc = pd.read_csv('./data/nyc_open_datasets/OEM_Emergency_Notifications.csv')
non_outage = pd.read_csv('./data/nyc_open_datasets/OEM_Non_Outages.csv')

In [20]:
# Check format of datasets.
open_nyc.head(2)

,Record ID,Date and Time,NotificationType,Notification Title,Email Body
0,11993,12/27/2018 01:42:00 PM,Utility,Con Edison Power Outage - Gravesend (BK),Notification issued 12-27-2018 at 1:42 PM. Con...
1,11948,12/21/2018 03:20:00 PM,Utility,Power Outage - Breezy Point & Roxbury (QN),Notification issued 12-21-2018 at 3:20 PM. PSE...

In [21]:
non_outage.head(2)

,Record ID,Date and Time,NotificationType,Notification Title,Email Body
0,9601,10/28/2017 10:22:00 PM,Road Closure,Traffic Delays - FDR Drive at 34th Street (MN),Notification issued 10/28/17 at 10:22 PM. Due ...
1,9600,10/28/2017 03:30:00 PM,Weather,High Wind Watch - 10/29-10/30 (CW),Notification issued 10/28/17 at 3:30 PM. The N...

In [23]:
# Check shape of "open_nyc" and "non_outage" dataframes.
print('open_nyc dataset has {} rows and {} columns.'.format(open_nyc.shape[0], open_nyc.shape[1]))
print('non_outages dataset has {} rows and {} columns.'.format(non_outage.shape[0], non_outage.shape[1]))

open_nyc dataset has 579 rows and 5 columns.
non_outages dataset has 6721 rows and 5 columns.

#### Creating new label / "outage" column .

In [24]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.insert.html
open_nyc.insert(5, 'outage', 1)
non_outage.insert(5, 'outage', 0)

#### Merge power outage and non-outage notifications dataframes.

In [28]:
merged_outage = pd.concat([open_nyc, non_outage])

# Check head and shape of "merged_outage" dataframe. 
print('merged_outage dataset has {} rows and {} columns.'.format(merged_outage.shape[0], merged_outage.shape[1]))
merged_outage.head(2)

merged_outage dataset has 7300 rows and 6 columns.

,Record ID,Date and Time,NotificationType,Notification Title,Email Body,outage
0,11993,12/27/2018 01:42:00 PM,Utility,Con Edison Power Outage - Gravesend (BK),Notification issued 12-27-2018 at 1:42 PM. Con...,1
1,11948,12/21/2018 03:20:00 PM,Utility,Power Outage - Breezy Point & Roxbury (QN),Notification issued 12-21-2018 at 3:20 PM. PSE...,1

In [29]:
# Check tail of "merged_outage".
merged_outage.tail(2)

,Record ID,Date and Time,NotificationType,Notification Title,Email Body,outage
6719,2440,10/02/2012 03:39:00 AM,Road Closure,All Lanes Re-opened - Whitestone Bridge,Notification issued 10/2/2012 at 3:39 AM. Afte...,0
6720,2439,10/02/2012 12:07:00 AM,Road Closure,All Lanes Closed - Whitestone Bridge,Notification issued 10/2/2012 at 12:07 AM. Due...,0

#### Dropping unecessary columns, formatting name of columns, changing datatypes, dropping duplicates and re-setting index.

In [30]:
# Drop "Record ID" column, not necessary. 
merged_outage.drop(columns = ['Record ID'], inplace = True)

In [33]:
# Lowercase column names.
new_cols = []
for column in merged_outage.columns:
    new_cols.append(column.lower())
new_cols

merged_outage.columns = new_cols

In [37]:
# Replace spaces in column names with underscores.
column_new_names = []
for column in merged_outage.columns:
    new_name = column.replace(' ', '_')
    column_new_names.append(new_name)

merged_outage.columns = column_new_names

In [38]:
# Rename column names, including "date_and_time" to be same as "datetime" column in weather dataframe.
merged_outage.rename(columns={'notificationtype': 'notification_type', 'date_and_time': 'datetime'}, inplace=True)

In [39]:
# Change datatype of "datetime" column from object to datetime.
merged_outage.datetime = pd.to_datetime(merged_outage.datetime)

In [40]:
# Drop minute and second data from "merged_outage" dataframe, to match format of weather dataframe. 
merged_outage.datetime = merged_outage.datetime.map(lambda x: x.replace(minute=0, second=0))

In [47]:
# Check for duplicate rows.
print('There are {} suplicate rows in original merged_outage dataframe.'.format(merged_outage.duplicated('datetime').sum()))

# Drop duplicate rows.
merged_outage = merged_outage.drop_duplicates('datetime')

# Re-check for duplicate rows.
print('After drop duplicated method, {} confirmed duplicate rows.'.format(merged_outage.duplicated('datetime').sum()))

There are 0 suplicate rows in original merged_outage dataframe.
After drop duplicated method, 0 confirmed duplicate rows.

In [48]:
# Set "datetime" as index.
merged_outage = merged_outage.set_index('datetime').sort_index()

#### Final clean power outages dataframe.

In [49]:
# Check tail and shape of "merged_outage" dataframe. 
print('merged_outage dataset has {} rows and {} columns.'.format(merged_outage.shape[0], merged_outage.shape[1]))
merged_outage.tail(2)

merged_outage dataset has 6364 rows and 4 columns.

,notification_type,notification_title,email_body,outage
datetime,,,,
2018-12-21 15:00:00,Utility,Power Outage - Breezy Point & Roxbury (QN),Notification issued 12-21-2018 at 3:20 PM. PSE...,1
2018-12-27 13:00:00,Utility,Con Edison Power Outage - Gravesend (BK),Notification issued 12-27-2018 at 1:42 PM. Con...,1