In [1]:
!ls

Client_Project_Ixchel.ipynb
Client_Project_John.ipynb
Client_Project_Kevin.ipynb
Ixchel_Twitter.ipynb
Weather
converting-text-files-to-combined-dictionary.ipynb
data
mycsv.csv
raw_tweets
saved_tweets.csv
twitter_credentials.json
working_df.csv

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('./raw_tweets/raw_tweets.csv')

In [4]:
df.drop(columns='Unnamed: 0', inplace=True)

In [5]:
df.head()

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet
0,267716394043465728,2012-11-11 14:52:16,NaN,False,False,NaN,0.0,0.0,0.0,ConEd : NY Sandy power outages slip; costs...,/RealJezzy/status/267716394043465728,504279674.0,RealJezzy
1,298660085255770112,2013-02-05 00:11:27,NaN,False,False,NaN,0.0,0.0,0.0,@ ConEdison \n Power outage in queens,/meirBGNY/status/298660085255770112,909594764.0,meirBGNY
2,21860028236,2010-08-22 17:33:44,NaN,False,False,NaN,0.0,0.0,0.0,Power outage in the Whitestone section of Q...,/olgushka1/status/21860028236,68886571.0,olgushka1
3,1069021302667833344,2018-12-01 19:11:54,NaN,False,False,NaN,0.0,1.0,0.0,about that power outage that is now over.....,/jimcasale/status/1069021302667833344,12393522.0,jimcasale
4,767077182124486656,2016-08-20 15:13:46,NaN,False,False,NaN,3.0,0.0,7.0,.@ConEdison is responding to a power outag...,/NotifyNYC/status/767077182124486656,16145875.0,NotifyNYC

In [6]:
df.dtypes

ID                object
datetime          object
has_media         object
is_reply          object
is_retweet        object
medias            object
nbr_favorite     float64
nbr_reply        float64
nbr_retweet      float64
text              object
url               object
user_id          float64
usernameTweet     object
dtype: object

In [7]:
pd.to_datetime(df['datetime'][:12])

0    2012-11-11 14:52:16
1    2013-02-05 00:11:27
2    2010-08-22 17:33:44
3    2018-12-01 19:11:54
4    2016-08-20 15:13:46
5    2012-10-28 12:22:46
6    2018-03-02 22:08:23
7    2016-08-13 16:46:34
8    2016-08-13 16:38:28
9    2012-10-29 18:16:23
10   2012-10-31 04:19:06
11   2012-10-30 17:30:20
Name: datetime, dtype: datetime64[ns]

In [8]:
for i in df.datetime:
    if i[5:7] not in ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']:
        print(i)

20567184

In [9]:
df[df.datetime == '20567184']

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet
2808,/Maggie4Obama/status/108170030474203136,20567184,Maggie4Obama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.iloc[2808]

ID               /Maggie4Obama/status/108170030474203136
datetime                                        20567184
has_media                                   Maggie4Obama
is_reply                                             NaN
is_retweet                                           NaN
medias                                               NaN
nbr_favorite                                         NaN
nbr_reply                                            NaN
nbr_retweet                                          NaN
text                                                 NaN
url                                                  NaN
user_id                                              NaN
usernameTweet                                        NaN
Name: 2808, dtype: object

In [11]:
df.drop(index=2808, inplace=True)

In [12]:
df[df.datetime == '20567184']

Empty DataFrame
Columns: [ID, datetime, has_media, is_reply, is_retweet, medias, nbr_favorite, nbr_reply, nbr_retweet, text, url, user_id, usernameTweet]
Index: []

In [13]:
df.datetime = pd.to_datetime(df.datetime)

In [14]:
df.dtypes

ID                       object
datetime         datetime64[ns]
has_media                object
is_reply                 object
is_retweet               object
medias                   object
nbr_favorite            float64
nbr_reply               float64
nbr_retweet             float64
text                     object
url                      object
user_id                 float64
usernameTweet            object
dtype: object

In [15]:
df.isnull().sum()

ID                  0
datetime            0
has_media        4225
is_reply            0
is_retweet          0
medias           4225
nbr_favorite        0
nbr_reply           0
nbr_retweet         0
text                0
url                 1
user_id             1
usernameTweet       1
dtype: int64

#### Unique Values

In [16]:
unique = []
for i in df.columns:
    uniques = {}
    uniques['column'] = i 
    uniques['unique values'] = df[i].nunique()
    unique.append(uniques)
pd.DataFrame(unique)

           column  unique values
0              ID           4374
1        datetime           4254
2       has_media              1
3        is_reply              2
4      is_retweet              1
5          medias             49
6    nbr_favorite             33
7       nbr_reply             19
8     nbr_retweet             45
9            text           4116
10            url           4373
11        user_id           2533
12  usernameTweet           2533

#### Most Common Twitter Handles
Consider using some of these as target indicators, particularly those that are official handles that are sharing information the utility would already know about.  
Also consider extracting these from the dataframe before parsing for language, since they're likely to bias any model looking for common language (i.e. many of the tweets from NotifyNYC follow a format along the lines of "@Conedison is responding to a power outage in {zip-code}).

In [77]:
df.usernameTweet.value_counts()[:20]

NotifyNYC         641
EastCoast911IA    135
ConEdison         113
Shield1631         95
outagetracker      31
NYCityAlerts       20
WHCREBT            16
StatenIslUSA       14
BNNnews            14
NYGovCuomo         14
res7cuefox5        13
nyc311             13
BreakingNewsNY     13
BreakingNewsUS     13
bnndesk            12
yonkersoem40       11
AlwaysActions      11
TalkoftheSound     11
fox5ny             11
JoshuaRockoff      10
Name: usernameTweet, dtype: int64

In [65]:
df[df.usernameTweet == 'NotifyNYC'].head(1)

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet,lemmed_tweet,nouns,proper_nouns,geopolitical_ents
4,767077182124486656,2016-08-20 15:13:46,NaN,False,False,NaN,3.0,0.0,7.0,.@ConEdison is responding to a power outag...,/NotifyNYC/status/767077182124486656,16145875.0,NotifyNYC,. @ConEdison is responding to a power outage i...,power outage ZIPs Report service loss CONED,@ConEdison BX,BX

Looks like many (if not all) of the tweets from 'EastCoast911IA' and 'Shield1631' are just restating NotifyNYC tweets

In [64]:
df[df.usernameTweet == 'EastCoast911IA'][:1]

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet,lemmed_tweet,nouns,proper_nouns,geopolitical_ents
7,764563820354408448,2016-08-13 16:46:34,NaN,False,False,NaN,0.0,0.0,0.0,NotifyNYC: .ConEdison is responding to a powe...,/EastCoast911IA/status/764563820354408448,2.778990e+09,EastCoast911IA,NotifyNYC : . ConEdison is responding to a pow...,power outage Report service loss CONED http on...,NotifyNYC ConEdison SI ZIP,

In [79]:
df[df.usernameTweet == 'Shield1631'].head(1)

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet,lemmed_tweet,nouns,proper_nouns,geopolitical_ents
122,997027507995140096,2018-05-17 04:14:16,NaN,False,False,NaN,0.0,0.0,0.0,.ConEdison is responding to a power outage ...,/Shield1631/status/997027507995140096,3.493897e+09,Shield1631,. ConEdison is responding to a power outage in...,power outage Report service loss CONED # Retweet,ConEdison Brooklyn ZIP Multilingual ASL Link h...,Brooklyn

# Pre-Processing

### TweetTokenize and Lemmatize all of the Titles

In [20]:
# import tokenizer and stemmer
from nltk import word_tokenize, TweetTokenizer
from nltk.stem import PorterStemmer, WordNetLemmatizer

In [21]:
# define a function that takes in a tweet
# and tokenizes and stems that tweet
def stem_title(tweet):    
    stm = PorterStemmer()
    tokenized = word_tokenize(tweet)
    stem_tokes = []
    for toke in tokenized:
        stem_tokes.append(stm.stem(toke))
    stem_tokes

    comb = ''
    for stemmed in stem_tokes:
        comb += stemmed + ' '
    return comb

# define a function that takes in a tweet
# and tweet_tokenizes and lemmatizes that tweet
def lem_tweet(tweet):    
    lem = WordNetLemmatizer()
    tokenizer = TweetTokenizer()
    tokenized = tokenizer.tokenize(tweet)
    lemmed_tokes = []
    for toke in tokenized:
        lemmed_tokes.append(lem.lemmatize(toke))
    lemmed_tokes

    comb = ''
    for lemmed in lemmed_tokes:
        comb += lemmed + ' '
    return comb

In [22]:
# check that the function works
lem_tweet(df.text[3])

'about that power outage that is now over ... From @Verizon " The commercial power issue in your area may have been cleared . If you still have issue with your Verizon service , click here . " From @ConEdison <crickets> '

In [23]:
# create a new column by applying the function to the title column
# and check out the head to see if it worked
df['lemmed_tweet'] = df.text.apply(lem_tweet)
df.head()

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet,lemmed_tweet
0,267716394043465728,2012-11-11 14:52:16,NaN,False,False,NaN,0.0,0.0,0.0,ConEd : NY Sandy power outages slip; costs...,/RealJezzy/status/267716394043465728,504279674.0,RealJezzy,ConEd : NY Sandy power outage slip ; cost coul...
1,298660085255770112,2013-02-05 00:11:27,NaN,False,False,NaN,0.0,0.0,0.0,@ ConEdison \n Power outage in queens,/meirBGNY/status/298660085255770112,909594764.0,meirBGNY,@ ConEdison Power outage in queen
2,21860028236,2010-08-22 17:33:44,NaN,False,False,NaN,0.0,0.0,0.0,Power outage in the Whitestone section of Q...,/olgushka1/status/21860028236,68886571.0,olgushka1,Power outage in the Whitestone section of Quee...
3,1069021302667833344,2018-12-01 19:11:54,NaN,False,False,NaN,0.0,1.0,0.0,about that power outage that is now over.....,/jimcasale/status/1069021302667833344,12393522.0,jimcasale,about that power outage that is now over ... F...
4,767077182124486656,2016-08-20 15:13:46,NaN,False,False,NaN,3.0,0.0,7.0,.@ConEdison is responding to a power outag...,/NotifyNYC/status/767077182124486656,16145875.0,NotifyNYC,. @ConEdison is responding to a power outage i...

In [24]:
# check out the tail, too
df.tail()

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet,lemmed_tweet
4370,204532926447226880,2012-05-21 07:23:44,NaN,False,False,NaN,1.0,0.0,9.0,ConEd is responding to a power outage in ...,/NotifyNYC/status/204532926447226880,1.614588e+07,NotifyNYC,ConEd is responding to a power outage in SI zi...
4371,264374015714553858,2012-11-02 10:30:51,NaN,True,False,NaN,0.0,0.0,1.0,@ hhertzof Please check out our outage map ...,/ConEdison/status/264374015714553858,2.026208e+07,ConEdison,@ hhertzof Please check out our outage map at ...
4372,308557748671479808,2013-03-04 07:41:14,NaN,False,False,NaN,0.0,1.0,0.0,@ ConEdison Partial power outage in Green...,/curlycakes/status/308557748671479808,2.760942e+08,curlycakes,@ ConEdison Partial power outage in Greenwood ...
4373,969704423621648384,2018-03-02 17:42:05,NaN,False,False,NaN,0.0,1.0,0.0,"Just out of curiosity @EversourceCT , will the...",/yelenadasher/status/969704423621648384,2.791989e+09,yelenadasher,"Just out of curiosity @EversourceCT , will the..."
4374,951772242203070464,2018-01-12 06:06:00,NaN,False,False,NaN,1.0,0.0,4.0,.@ConEdison is responding to a power outag...,/NotifyNYC/status/951772242203070464,1.614588e+07,NotifyNYC,. @ConEdison is responding to a power outage i...

In [25]:
#df.to_csv('working_df.csv')

## Model Prep

### CountVectorize from Unlemmed

In [26]:
from sklearn.feature_extraction.text import CountVectorizer

In [27]:
# Instantiate
cv = CountVectorizer(stop_words='english', 
                     ngram_range=(1,1)
                    )

In [28]:
# Fit and Transform
sparse_df_unlemmed = cv.fit_transform(df.text)

In [31]:
dense_df_unlemmed = pd.DataFrame(sparse_df_unlemmed.todense(), columns=cv.get_feature_names())
dense_df_unlemmed.head()

,00,000,0004cd37823361e17f570,0025,004681,0075,008,00am,00pm,01,...,zq1l1q,zq77qw,zqccse,zrhytqylft,zup9nhrybuektc1lcewgbpjqjpebeptl,zup9nhrybuhm1ks2tvqbgrdi67_ocwsu,zuqbnywg1dl,zxutv,zzwxbkvgxy,うちはまだ停電してないだけましらしい
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
len(cv.get_feature_names())

7011

### CountVectorize from Lemmed

In [33]:
from sklearn.feature_extraction.text import CountVectorizer

In [34]:
# Instantiate
cv = CountVectorizer(stop_words='english', 
                     ngram_range=(1,1)
                    )

In [35]:
# Fit and Transform
sparse_df_lemmed = cv.fit_transform(df.lemmed_tweet)

In [38]:
dense_df_lemmed = pd.DataFrame(sparse_df_lemmed.todense(), columns=cv.get_feature_names())
dense_df_lemmed.head()

,00,000,0004,001,002092,0025,004681,0075,008,00am,...,zpzuap,zq1l1q,zq77qw,zqccse,zrhytqylft,zup,zuqbnywg1dl,zxutv,zzwxbkvgxy,うちはまだ停電してないだけましらしい
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
len(cv.get_feature_names())

6880

In [40]:
cv.get_feature_names()[6000:6008]

['superstormsandy',
 'supervisor',
 'supplier',
 'supply',
 'support',
 'supposed',
 'supposedly',
 'sure']

## Clustering

In [41]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
km = KMeans(n_clusters=3, random_state=42)

In [42]:
X_sc = ss.fit_transform(dense_df_lemmed)
km.fit(X_sc)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=42, tol=0.0001, verbose=0)

In [43]:
from sklearn.metrics import silhouette_score

In [44]:
silhouette_score(X_sc, km.labels_)

0.5133360465681364

In [45]:
len(df[km.labels_ == 0])

4372

In [46]:
len(df[km.labels_ == 1])

1

In [47]:
len(df[km.labels_ == 2])

1

# Spacy Processing

In [48]:
import spacy
nlp = spacy.load('en')
doc1 = nlp(df.lemmed_tweet[2])
print(doc1)

Power outage in the Whitestone section of Queens . To report a loss of electric service , contact Con Edison at 1-800- 75 - CONED

## Part-of-Speech Tagging

In [49]:
# check out what this can do

for token in doc1:
    print('{} - {}'.format(token, token.pos_))

Power - NOUN
outage - NOUN
in - ADP
the - DET
Whitestone - PROPN
section - NOUN
of - ADP
Queens - PROPN
. - PUNCT
To - PART
report - VERB
a - DET
loss - NOUN
of - ADP
electric - ADJ
service - NOUN
, - PUNCT
contact - NOUN
Con - PROPN
Edison - PROPN
at - ADP
1 - NUM
- - PUNCT
800- - NUM
75 - NUM
- - PUNCT
CONED - NOUN

#### Extract Nouns from Tweets

In [50]:
# define a function to extract a tweet's nouns 
# and return them in a single string,
# so that the string can then be added back into the dataframe

def extract_NOUN(tweet):
    doc = nlp(tweet)
    NOUNS = []
    for token in doc:
        if token.pos_ == 'NOUN':
            NOUNS.append(str(token))   
    #print(NOUNS)
    comb = ''
    for token in NOUNS:
        comb += token + ' '
    return comb

In [51]:
# test out the function

extract_NOUN(df.lemmed_tweet[28])

'power outage Report service loss CONED http on.nyc.gov/22lyehC '

In [52]:
# apply the function to every lemmed tweet to create a new 'nouns' column

df['nouns'] = df.lemmed_tweet.apply(extract_NOUN)
df.head()

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet,lemmed_tweet,nouns
0,267716394043465728,2012-11-11 14:52:16,NaN,False,False,NaN,0.0,0.0,0.0,ConEd : NY Sandy power outages slip; costs...,/RealJezzy/status/267716394043465728,504279674.0,RealJezzy,ConEd : NY Sandy power outage slip ; cost coul...,ConEd power outage slip cost http
1,298660085255770112,2013-02-05 00:11:27,NaN,False,False,NaN,0.0,0.0,0.0,@ ConEdison \n Power outage in queens,/meirBGNY/status/298660085255770112,909594764.0,meirBGNY,@ ConEdison Power outage in queen,outage queen
2,21860028236,2010-08-22 17:33:44,NaN,False,False,NaN,0.0,0.0,0.0,Power outage in the Whitestone section of Q...,/olgushka1/status/21860028236,68886571.0,olgushka1,Power outage in the Whitestone section of Quee...,Power outage section loss service contact CONED
3,1069021302667833344,2018-12-01 19:11:54,NaN,False,False,NaN,0.0,1.0,0.0,about that power outage that is now over.....,/jimcasale/status/1069021302667833344,12393522.0,jimcasale,about that power outage that is now over ... F...,power outage @Verizon power issue area issue s...
4,767077182124486656,2016-08-20 15:13:46,NaN,False,False,NaN,3.0,0.0,7.0,.@ConEdison is responding to a power outag...,/NotifyNYC/status/767077182124486656,16145875.0,NotifyNYC,. @ConEdison is responding to a power outage i...,power outage ZIPs Report service loss CONED

#### Extract Proper Nouns from Tweets

In [53]:
# define a function to extract a tweet's proper nouns 
# and return them in a single string,
# so that the string can then be added back into the dataframe

def extract_PROPN(tweet):
    doc = nlp(tweet)
    PROPN = []
    for token in doc:
        if token.pos_ == 'PROPN':
            PROPN.append(str(token))   
    #print(PROPN)
    comb = ''
    for token in PROPN:
        comb += token + ' '
    return comb

In [54]:
# test the function
extract_PROPN(df.lemmed_tweet[28])

'ConEdison ConEd Williamsbridge BX '

In [55]:
# apply the function to every lemmed tweet to create a new 'proper_nouns' column
df['proper_nouns'] = df.lemmed_tweet.apply(extract_PROPN)
df.head()

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet,lemmed_tweet,nouns,proper_nouns
0,267716394043465728,2012-11-11 14:52:16,NaN,False,False,NaN,0.0,0.0,0.0,ConEd : NY Sandy power outages slip; costs...,/RealJezzy/status/267716394043465728,504279674.0,RealJezzy,ConEd : NY Sandy power outage slip ; cost coul...,ConEd power outage slip cost http,NY Sandy dlvr.it/2Sss2H
1,298660085255770112,2013-02-05 00:11:27,NaN,False,False,NaN,0.0,0.0,0.0,@ ConEdison \n Power outage in queens,/meirBGNY/status/298660085255770112,909594764.0,meirBGNY,@ ConEdison Power outage in queen,outage queen,ConEdison Power
2,21860028236,2010-08-22 17:33:44,NaN,False,False,NaN,0.0,0.0,0.0,Power outage in the Whitestone section of Q...,/olgushka1/status/21860028236,68886571.0,olgushka1,Power outage in the Whitestone section of Quee...,Power outage section loss service contact CONED,Whitestone Queens Con Edison
3,1069021302667833344,2018-12-01 19:11:54,NaN,False,False,NaN,0.0,1.0,0.0,about that power outage that is now over.....,/jimcasale/status/1069021302667833344,12393522.0,jimcasale,about that power outage that is now over ... F...,power outage @Verizon power issue area issue s...,Verizon @ConEdison
4,767077182124486656,2016-08-20 15:13:46,NaN,False,False,NaN,3.0,0.0,7.0,.@ConEdison is responding to a power outag...,/NotifyNYC/status/767077182124486656,16145875.0,NotifyNYC,. @ConEdison is responding to a power outage i...,power outage ZIPs Report service loss CONED,@ConEdison BX

## Noun-Phrase-Chunking

In [56]:
for chunk in doc1.noun_chunks:
    print('{} - {}'.format(chunk, chunk.label_))

Power outage - NP
the Whitestone section - NP
Queens - NP
a loss - NP
electric service - NP
- CONED - NP

#### Extract Noun Phrase Chunks from Tweets

In [57]:
for tweet in df.lemmed_tweet[:30]:
    #print(nlp(i))
    doc = nlp(tweet)
    NP = []
    for chunk in doc.noun_chunks:
        NP.append(str(chunk))   
    print(NP)

['NY Sandy power outage slip', 'cost', '/ dlvr.it/2Sss2H']
['ConEdison Power outage', 'queen']
['Power outage', 'the Whitestone section', 'Queens', 'a loss', 'electric service', '- CONED']
['that power outage', '@Verizon', 'The commercial power issue', 'your area', 'you', 'issue', 'your Verizon service', '@ConEdison']
['@ConEdison', 'a power outage', 'BX ZIPs', 'Report service loss', '1800-75- CONED']
['a power outage', 'you', 'ConEd', 'bckey', 'AQ', 'bctid', '| Live ConEd outage map', 'reference', '/ apps.coned.com/stormcenter_ex ternal / default.html …']
['ConEdison major power outage', 'Harrison NY']
['NotifyNYC', 'ConEdison', 'a power outage', 'SI ZIP', 'Report service loss', '75 - CONED', 'http', ':/ / on.nyc.gov/22lyehC']
['@ConEdison', 'a power outage', 'SI ZIP', 'Report service loss', '75 - CONED', 'http', ':/ / on.nyc.gov/22lyehC']
['Sandy Maps', 'ConEd power shutdown warning', '0.0004 cd37823361e17f570', 'ie', 'UTF', '… Current ConEd outage', '/ apps.coned.com/stormcenter_ex ternal / default.html …']
['Manhattan Power Outages', 'Days', 'ConEd']
['Helpful link', '@ConEdison service outage map', '/ apps.coned.com/stormcenter_ex ternal / default.html … Power', 'estimated restoration time', 'Manhattan']
['i', 'our power', 'no outage', 'you', 'your infrastructure']
['# ConEd', '18,200 power outage', '#Queens', '#Sandy']
['ConEdison', 'a friend', 'you', 'their street', 'the outage map', 'they', 'no power', 'you', 'them', 'the end', 'the line', 'They', 'power', 'Friday', 'Another example', 'your inability', 'the situation']
['power outage', 'Manor Heights section', 'my district']
['ConEd Power Outage Map', 'Hurricane Sandy', '/ bit.ly/U4f13n']
['RT', '@ConEdison', 'Your outage map', 'It', 'no outage west', '8th', '23rd and 24th Sts', 'we', 'no power', '#inaccurate #joke']
['Report', 'NYC', 'ConEd', 'power outage', '39th St', 'Manhattan', 'Report', 'transformer blowout', '13th']
['# BreakingNews Power Outage - Bronx', 'ConEd', 'a power outage', 'the area']
['Power outage', 'the North East section', 'The Bronx', 'a loss', 'electric service', '@ConEdison']
['@ConEd', 'power outage', 'Bayside', 'QN ZIP', 'Report', '75 - CONED', 'http', 'ASL', 'http :/ / bit.ly/1u2Z88W']
['ConEd', 'power " @SRuhle', 'precautionary power outage', 'Lower #Manhattan', '#NYC flooding', '#Hurricane #Sandy']
['@ConEdison', 'power outage', 'http']
['MT @NotifyNYC Power outage', 'Lighthouse Hill section', 'SI', 'a loss', 'service']
['@ConEdison', 'a power outage', 'Throggs Neck', 'BX', 'ZIP', 'Report service loss', '75 - CONED', 'http', ':/ / on.nyc.gov/22lyehC']
['ConEd', 'power outage', 'QN ZIP', 'a loss', 'service', '75 - CONED', 'ASL', 'http :/ / bit.ly/1u2Z88W']
['NY Sandy power outage slip', 'cost', '( Reuters', 'Consolidated Edison Inc', 'http', 'bit.ly/Scjo6o']
['ConEdison ConEd', 'a power outage', 'Williamsbridge', 'BX', 'Report service loss', '75 - CONED', 'http', ':/ / on.nyc.gov/22lyehC']
['Why I', 'RT @NotifyNYC', 'ConEd', 'a power outage', 'the Country Club section', 'The BX']

## Named-Entity-Recognition

In [58]:
for ent in doc1.ents:
    print(ent.text, '-', ent.label_)

Whitestone - GPE
Queens - ORG
Con Edison - PERSON
1 - CARDINAL

#### Create a new column that contains Geopolitical Entities from Tweets

In [59]:
# define a function that takes in a tweet and returns a single string
# that contains only the Geopolitical Entities from that tweet
def extract_GPE(tweet):
    doc = nlp(tweet)
    GPE = []
    for ent in doc.ents:
        if ent.label_ == 'GPE':
            GPE.append(str(ent.text))   
    #print(GPE)
    comb = ''
    for token in GPE:
        comb += token + ' '
    return comb

In [60]:
# check that the function works
extract_GPE(df.lemmed_tweet[28])

'Williamsbridge BX '

In [61]:
# apply the function to every lemmed tweet to create a new 'geopolitical_ents' column
df['geopolitical_ents'] = df.lemmed_tweet.apply(extract_GPE)
df.head()

,ID,datetime,has_media,is_reply,is_retweet,medias,nbr_favorite,nbr_reply,nbr_retweet,text,url,user_id,usernameTweet,lemmed_tweet,nouns,proper_nouns,geopolitical_ents
0,267716394043465728,2012-11-11 14:52:16,NaN,False,False,NaN,0.0,0.0,0.0,ConEd : NY Sandy power outages slip; costs...,/RealJezzy/status/267716394043465728,504279674.0,RealJezzy,ConEd : NY Sandy power outage slip ; cost coul...,ConEd power outage slip cost http,NY Sandy dlvr.it/2Sss2H,
1,298660085255770112,2013-02-05 00:11:27,NaN,False,False,NaN,0.0,0.0,0.0,@ ConEdison \n Power outage in queens,/meirBGNY/status/298660085255770112,909594764.0,meirBGNY,@ ConEdison Power outage in queen,outage queen,ConEdison Power,
2,21860028236,2010-08-22 17:33:44,NaN,False,False,NaN,0.0,0.0,0.0,Power outage in the Whitestone section of Q...,/olgushka1/status/21860028236,68886571.0,olgushka1,Power outage in the Whitestone section of Quee...,Power outage section loss service contact CONED,Whitestone Queens Con Edison,Whitestone
3,1069021302667833344,2018-12-01 19:11:54,NaN,False,False,NaN,0.0,1.0,0.0,about that power outage that is now over.....,/jimcasale/status/1069021302667833344,12393522.0,jimcasale,about that power outage that is now over ... F...,power outage @Verizon power issue area issue s...,Verizon @ConEdison,Verizon
4,767077182124486656,2016-08-20 15:13:46,NaN,False,False,NaN,3.0,0.0,7.0,.@ConEdison is responding to a power outag...,/NotifyNYC/status/767077182124486656,16145875.0,NotifyNYC,. @ConEdison is responding to a power outage i...,power outage ZIPs Report service loss CONED,@ConEdison BX,BX

### Dependency Parsing
Can we use this to get items like "Lighthouse Hill" that aren't recognized by Named-Entity-Recognition?

In [62]:
df.lemmed_tweet[24]

'MT @NotifyNYC Power outage in Lighthouse Hill section of SI . To report a loss of service ConEd 1-800-752-6633 or http://www . coned.com '

In [63]:
from spacy import displacy

nlp = spacy.load("en_core_web_sm")
doc = nlp(df.lemmed_tweet[24])
displacy.render(doc, style='dep')