In [1]:
!ls ./data

OEM_Emergency_Notifications.csv   tweets_3.csv
OEM_Non_Outages.csv               tweets_pseg_dec13_sep20.csv
nlp_tweets.csv                    tweets_pseg_jun27_apr06.csv
nlp_tweets_2012_2017.csv          tweets_pseg_sep6_july2
non_outages.csv                   weather_target_drop_merged.csv
open_nyc.csv                      weather_target_merged.csv
target.csv                        weather_target_numerical.csv
tweets.csv                        weather_target_numerical_drop.csv
tweets_2.csv                      working_df.csv

In [2]:
import numpy as np
import pandas as pd

In [3]:
outages = pd.read_csv('./data/open_nyc.csv', index_col=0)

In [4]:
print(outages.datetime.sort_values().head(1))
print(outages.datetime.sort_values().tail(1))

578    2012-03-16 23:00:00
Name: datetime, dtype: object
0    2018-12-27 13:00:00
Name: datetime, dtype: object

In [5]:
outages.shape

(567, 5)

In [6]:
non_outages = pd.read_csv('./data/non_outages.csv', index_col=0)

In [7]:
non_outages.head()

,datetime,notification_type,notification_title,email_body,outage
0,2017-10-28 22:00:00,Road Closure,Traffic Delays - FDR Drive at 34th Street (MN),Notification issued 10/28/17 at 10:22 PM. Due ...,0
1,2017-10-28 15:00:00,Weather,High Wind Watch - 10/29-10/30 (CW),Notification issued 10/28/17 at 3:30 PM. The N...,0
3,2017-10-28 09:00:00,Weather,Flash Flood Watch - 10/29 - 10/30 (CW),Notification issued 10/28/17 at 9:00 AM. The N...,0
4,2017-10-27 20:00:00,Road Closure,Traffic Delays - Cross Bronx Expressway at 3rd...,Notification issued 10/27/17 at 8:32 PM. Due t...,0
6,2017-10-27 17:00:00,Road Closure,Traffic Delays - Lincoln Tunnel (MN),Notification issued 10/27/17 at 5:44 PM. Due t...,0

In [8]:
print(non_outages.datetime.sort_values().head(1))
print(non_outages.datetime.sort_values().tail(1))

6720    2012-10-02 00:00:00
Name: datetime, dtype: object
0    2017-10-28 22:00:00
Name: datetime, dtype: object

In [9]:
non_outages.shape

(5871, 5)

In [10]:
non_outages.isnull().sum()

datetime               0
notification_type      0
notification_title     0
email_body            82
outage                 0
dtype: int64

In [11]:
# non_outages.duplicated('datetime').sum()

In [12]:
# non_outages = non_outages.drop_duplicates('datetime')

In [13]:
# non_outages.head()

In [14]:
merged_df = pd.concat([outages, non_outages])

In [15]:
merged_df.shape

(6438, 5)

In [16]:
print(merged_df.datetime.sort_values().head(1))
print(merged_df.datetime.sort_values().tail(1))

578    2012-03-16 23:00:00
Name: datetime, dtype: object
0    2018-12-27 13:00:00
Name: datetime, dtype: object

In [17]:
merged_df.duplicated('datetime').sum()

74

In [18]:
# merged_df[merged_df.duplicated('datetime', keep=False) == True]

In [19]:
merged_df = merged_df.drop_duplicates('datetime')

In [20]:
# merged_df.iloc[1144]

In [21]:
merged_df.duplicated('datetime').sum()

0

In [22]:
merged_df.isnull().sum()

datetime               0
notification_type      0
notification_title     0
email_body            80
outage                 0
dtype: int64

In [23]:
merged_df.head()

,datetime,notification_type,notification_title,email_body,outage
0,2018-12-27 13:00:00,Utility,Con Edison Power Outage - Gravesend (BK),Notification issued 12-27-2018 at 1:42 PM. Con...,1
1,2018-12-21 15:00:00,Utility,Power Outage - Breezy Point & Roxbury (QN),Notification issued 12-21-2018 at 3:20 PM. PSE...,1
2,2018-12-20 22:00:00,Utility,Power Outage - Far Rockaway Sectiojn (QN),Notification issued 12-20-2018 at 10:50 PM. PS...,1
3,2018-12-20 12:00:00,Utility,Power Outage - Pelham Parkway (BX),Notification issued 12-20-2018 at 12:40 PM. Co...,1
4,2018-12-10 05:00:00,Utility,Con Edison Power Outage - Hollis Section (QN),Notification issued 12-10-2018 at 5:21 PM. Con...,1

In [24]:
print(merged_df.datetime.sort_values().head(1))
print(merged_df.datetime.sort_values().tail(1))

578    2012-03-16 23:00:00
Name: datetime, dtype: object
0    2018-12-27 13:00:00
Name: datetime, dtype: object

In [25]:
merged_df['datetime'] = pd.to_datetime(merged_df['datetime'])

In [26]:
merged_df.dtypes

datetime              datetime64[ns]
notification_type             object
notification_title            object
email_body                    object
outage                         int64
dtype: object

In [27]:
merged_df.to_csv('./data/target.csv', index=False)

## Merge Weather & Target

In [28]:
target = pd.read_csv('./data/target.csv')

In [29]:
target.head()

,datetime,notification_type,notification_title,email_body,outage
0,2018-12-27 13:00:00,Utility,Con Edison Power Outage - Gravesend (BK),Notification issued 12-27-2018 at 1:42 PM. Con...,1
1,2018-12-21 15:00:00,Utility,Power Outage - Breezy Point & Roxbury (QN),Notification issued 12-21-2018 at 3:20 PM. PSE...,1
2,2018-12-20 22:00:00,Utility,Power Outage - Far Rockaway Sectiojn (QN),Notification issued 12-20-2018 at 10:50 PM. PS...,1
3,2018-12-20 12:00:00,Utility,Power Outage - Pelham Parkway (BX),Notification issued 12-20-2018 at 12:40 PM. Co...,1
4,2018-12-10 05:00:00,Utility,Con Edison Power Outage - Hollis Section (QN),Notification issued 12-10-2018 at 5:21 PM. Con...,1

In [30]:
print(target.datetime.sort_values().head(1))
print(target.datetime.sort_values().tail(1))

566    2012-03-16 23:00:00
Name: datetime, dtype: object
0    2018-12-27 13:00:00
Name: datetime, dtype: object

In [31]:
target.dtypes

datetime              object
notification_type     object
notification_title    object
email_body            object
outage                 int64
dtype: object

In [32]:
target['datetime'] = pd.to_datetime(target['datetime'])

In [33]:
target.dtypes

datetime              datetime64[ns]
notification_type             object
notification_title            object
email_body                    object
outage                         int64
dtype: object

In [34]:
# target.datetime = target.datetime.map(lambda x: x.replace(minute=0, second=0))

In [35]:
target.duplicated('datetime').sum()

0

In [36]:
# target[target.duplicated('datetime', keep=False) == True]

In [37]:
target.outage.value_counts()

0    5797
1     567
Name: outage, dtype: int64

In [38]:
!ls Weather/data

historical_hourly_weather_data       new_york_weather_dropped_col.csv
new_york_weather.csv                 new_york_weather_with_fahrenheit.csv
new_york_weather_all_numerical.csv   weather_clean.csv
new_york_weather_date_index.csv

In [39]:
weather = pd.read_csv('./Weather/data/weather_clean.csv')

In [40]:
weather.head()

,date,temperature_f,wind_dir_degrees,wind_speed_mph,broken_clouds,drizzle,dust,few_clouds,fog,freezing_rain,...,sky_is_clear,smoke,snow,squalls,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain
0,2012-10-01 13:00:00,59.11,260.0,15,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2012-10-01 14:00:00,59.16,260.0,15,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2012-10-01 15:00:00,59.30,260.0,15,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2012-10-01 16:00:00,59.44,260.0,15,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2012-10-01 17:00:00,59.58,261.0,13,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
print(weather.date.sort_values().head(1))
print(weather.date.sort_values().tail(1))

0    2012-10-01 13:00:00
Name: date, dtype: object
44459    2017-10-28 00:00:00
Name: date, dtype: object

In [42]:
weather.rename(columns={'date': 'datetime'}, inplace = True)

In [43]:
weather.dtypes[:5]

datetime             object
temperature_f       float64
wind_dir_degrees    float64
wind_speed_mph        int64
broken_clouds         int64
dtype: object

In [44]:
weather.datetime = pd.to_datetime(weather.datetime)

In [45]:
weather.dtypes[:5]

datetime            datetime64[ns]
temperature_f              float64
wind_dir_degrees           float64
wind_speed_mph               int64
broken_clouds                int64
dtype: object

In [46]:
print(target.shape)
print(weather.shape)

(6364, 5)
(44460, 40)

In [47]:
wt_merge = pd.merge(weather, target, how ='outer', on = 'datetime')

In [48]:
wt_merge_drop = weather.merge(target)

In [49]:
wt_merge.shape

(44609, 44)

In [50]:
wt_merge_drop.shape

(6215, 44)

In [51]:
wt_merge.duplicated('datetime').sum()

0

In [52]:
wt_merge_drop.duplicated('datetime').sum()

0

In [53]:
wt_merge.isnull().sum()

datetime                                   0
temperature_f                            149
wind_dir_degrees                         149
wind_speed_mph                           149
broken_clouds                            149
drizzle                                  149
dust                                     149
few_clouds                               149
fog                                      149
freezing_rain                            149
haze                                     149
heavy_intensity_drizzle                  149
heavy_intensity_rain                     149
heavy_snow                               149
heavy_thunderstorm                       149
light_intensity_drizzle                  149
light_intensity_shower_rain              149
light_rain                               149
light_rain_and_snow                      149
light_snow                               149
mist                                     149
moderate_rain                            149
overcast_clouds                          149
proximity_thunderstorm                   149
proximity_thunderstorm_with_drizzle      149
proximity_thunderstorm_with_rain         149
sand                                     149
sand/dust_whirls                         149
scattered_clouds                         149
shower_rain                              149
sky_is_clear                             149
smoke                                    149
snow                                     149
squalls                                  149
thunderstorm                             149
thunderstorm_with_heavy_rain             149
thunderstorm_with_light_drizzle          149
thunderstorm_with_light_rain             149
thunderstorm_with_rain                   149
very_heavy_rain                          149
notification_type                      38245
notification_title                     38245
email_body                             38325
outage                                 38245
dtype: int64

In [54]:
wt_merge_drop.isnull().sum()

datetime                                0
temperature_f                           0
wind_dir_degrees                        0
wind_speed_mph                          0
broken_clouds                           0
drizzle                                 0
dust                                    0
few_clouds                              0
fog                                     0
freezing_rain                           0
haze                                    0
heavy_intensity_drizzle                 0
heavy_intensity_rain                    0
heavy_snow                              0
heavy_thunderstorm                      0
light_intensity_drizzle                 0
light_intensity_shower_rain             0
light_rain                              0
light_rain_and_snow                     0
light_snow                              0
mist                                    0
moderate_rain                           0
overcast_clouds                         0
proximity_thunderstorm                  0
proximity_thunderstorm_with_drizzle     0
proximity_thunderstorm_with_rain        0
sand                                    0
sand/dust_whirls                        0
scattered_clouds                        0
shower_rain                             0
sky_is_clear                            0
smoke                                   0
snow                                    0
squalls                                 0
thunderstorm                            0
thunderstorm_with_heavy_rain            0
thunderstorm_with_light_drizzle         0
thunderstorm_with_light_rain            0
thunderstorm_with_rain                  0
very_heavy_rain                         0
notification_type                       0
notification_title                      0
email_body                             80
outage                                  0
dtype: int64

In [55]:
print(wt_merge.datetime.sort_values().iloc[0])
print(wt_merge.datetime.sort_values().iloc[-1])

2012-03-16 23:00:00
2018-12-27 13:00:00

In [56]:
print(wt_merge_drop.datetime.sort_values().iloc[0])
print(wt_merge_drop.datetime.sort_values().iloc[-1])

2012-10-02 00:00:00
2017-10-27 20:00:00

In [57]:
wt_merge.set_index('datetime', inplace=True)

In [58]:
wt_merge_drop.set_index('datetime', inplace=True)

In [59]:
weather_target_df = wt_merge.sort_index()

In [60]:
weather_target_drop_df = wt_merge_drop.sort_index()

In [61]:
weather_target_df.head(2)

,temperature_f,wind_dir_degrees,wind_speed_mph,broken_clouds,drizzle,dust,few_clouds,fog,freezing_rain,haze,...,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain,notification_type,notification_title,email_body,outage
datetime,,,,,,,,,,,,,,,,,,,,,
2012-03-16 23:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Utility,Power Outage - Mill Basin Area,Notification issued on 03/16/2012 11:15 PM. Co...,1.0
2012-03-25 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Utility,Power Outage - Throgs Neck (BX),Notification issued on 3/25/2012 2:18 PM. Con ...,1.0

In [62]:
weather_target_drop_df.head(2)

,temperature_f,wind_dir_degrees,wind_speed_mph,broken_clouds,drizzle,dust,few_clouds,fog,freezing_rain,haze,...,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain,notification_type,notification_title,email_body,outage
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-02 00:00:00,60.58,264.0,13,0,0,0,1,0,0,0,...,0,0,0,0,0,0,Road Closure,All Lanes Closed - Whitestone Bridge,Notification issued 10/2/2012 at 12:07 AM. Due...,0
2012-10-02 03:00:00,61.01,265.0,13,0,0,0,1,0,0,0,...,0,0,0,0,0,0,Road Closure,All Lanes Re-opened - Whitestone Bridge,Notification issued 10/2/2012 at 3:39 AM. Afte...,0

In [63]:
weather_target_df.to_csv('./data/weather_target_merged.csv')

In [64]:
weather_target_drop_df.to_csv('./data/weather_target_drop_merged.csv')

In [65]:
weather_target_df.notification_type.value_counts()

Road Closure                  1632
Mass Transit Disruption        974
Missing Adult                  697
Utility                        670
Public Awareness               487
Environmental                  459
Weather                        340
Fire                           304
Drills / Exercises             161
Aerial (Fly-Over)              139
Public Health                  135
Mass Transit Restoration       123
School Notification             90
Missing Child / Adolescent      83
Parking                         55
Structural                      13
Infrastructure                   2
Name: notification_type, dtype: int64

In [66]:
weather_target_drop_df.notification_type.value_counts()

Road Closure                  1631
Mass Transit Disruption        974
Missing Adult                  697
Utility                        524
Public Awareness               487
Environmental                  459
Weather                        338
Fire                           304
Drills / Exercises             161
Aerial (Fly-Over)              139
Public Health                  135
Mass Transit Restoration       123
School Notification             90
Missing Child / Adolescent      83
Parking                         55
Structural                      13
Infrastructure                   2
Name: notification_type, dtype: int64

In [67]:
dummy_variables = pd.get_dummies(weather_target_df['notification_type'])

In [68]:
dummy_variables_drop = pd.get_dummies(weather_target_drop_df['notification_type'])

In [69]:
dummy_variables.head(2)

,Aerial (Fly-Over),Drills / Exercises,Environmental,Fire,Infrastructure,Mass Transit Disruption,Mass Transit Restoration,Missing Adult,Missing Child / Adolescent,Parking,Public Awareness,Public Health,Road Closure,School Notification,Structural,Utility,Weather
datetime,,,,,,,,,,,,,,,,,
2012-03-16 23:00:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2012-03-25 14:00:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [70]:
dummy_variables_drop.head(2)

,Aerial (Fly-Over),Drills / Exercises,Environmental,Fire,Infrastructure,Mass Transit Disruption,Mass Transit Restoration,Missing Adult,Missing Child / Adolescent,Parking,Public Awareness,Public Health,Road Closure,School Notification,Structural,Utility,Weather
datetime,,,,,,,,,,,,,,,,,
2012-10-02 00:00:00,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2012-10-02 03:00:00,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [71]:
new_cols = []
for column in dummy_variables.columns:
    new_cols.append(column.lower())
new_cols

['aerial (fly-over)',
 'drills / exercises',
 'environmental',
 'fire',
 'infrastructure',
 'mass transit disruption',
 'mass transit restoration',
 'missing adult',
 'missing child / adolescent',
 'parking',
 'public awareness',
 'public health',
 'road closure',
 'school notification',
 'structural',
 'utility',
 'weather']

In [72]:
dummy_variables.columns = new_cols

In [73]:
dummy_variables_drop.columns = new_cols

In [74]:
dummy_variables.head(2)

,aerial (fly-over),drills / exercises,environmental,fire,infrastructure,mass transit disruption,mass transit restoration,missing adult,missing child / adolescent,parking,public awareness,public health,road closure,school notification,structural,utility,weather
datetime,,,,,,,,,,,,,,,,,
2012-03-16 23:00:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2012-03-25 14:00:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [75]:
dummy_variables_drop.head(2)

,aerial (fly-over),drills / exercises,environmental,fire,infrastructure,mass transit disruption,mass transit restoration,missing adult,missing child / adolescent,parking,public awareness,public health,road closure,school notification,structural,utility,weather
datetime,,,,,,,,,,,,,,,,,
2012-10-02 00:00:00,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2012-10-02 03:00:00,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [76]:
column_new_names = []
for column in dummy_variables.columns:
    new_name = column.replace(' / ', '/')
    column_new_names.append(new_name)
column_new_names

['aerial (fly-over)',
 'drills/exercises',
 'environmental',
 'fire',
 'infrastructure',
 'mass transit disruption',
 'mass transit restoration',
 'missing adult',
 'missing child/adolescent',
 'parking',
 'public awareness',
 'public health',
 'road closure',
 'school notification',
 'structural',
 'utility',
 'weather']

In [77]:
dummy_variables.columns = column_new_names
dummy_variables.head(2)

,aerial (fly-over),drills/exercises,environmental,fire,infrastructure,mass transit disruption,mass transit restoration,missing adult,missing child/adolescent,parking,public awareness,public health,road closure,school notification,structural,utility,weather
datetime,,,,,,,,,,,,,,,,,
2012-03-16 23:00:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2012-03-25 14:00:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [78]:
dummy_variables_drop.columns = column_new_names
dummy_variables_drop.head(2)

,aerial (fly-over),drills/exercises,environmental,fire,infrastructure,mass transit disruption,mass transit restoration,missing adult,missing child/adolescent,parking,public awareness,public health,road closure,school notification,structural,utility,weather
datetime,,,,,,,,,,,,,,,,,
2012-10-02 00:00:00,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2012-10-02 03:00:00,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [79]:
column_new_names = []
for column in dummy_variables.columns:
    new_name = column.replace(' ', '_')
    column_new_names.append(new_name)
column_new_names

['aerial_(fly-over)',
 'drills/exercises',
 'environmental',
 'fire',
 'infrastructure',
 'mass_transit_disruption',
 'mass_transit_restoration',
 'missing_adult',
 'missing_child/adolescent',
 'parking',
 'public_awareness',
 'public_health',
 'road_closure',
 'school_notification',
 'structural',
 'utility',
 'weather']

In [80]:
dummy_variables.columns = column_new_names
dummy_variables.head(2)

,aerial_(fly-over),drills/exercises,environmental,fire,infrastructure,mass_transit_disruption,mass_transit_restoration,missing_adult,missing_child/adolescent,parking,public_awareness,public_health,road_closure,school_notification,structural,utility,weather
datetime,,,,,,,,,,,,,,,,,
2012-03-16 23:00:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
2012-03-25 14:00:00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0

In [81]:
dummy_variables_drop.columns = column_new_names
dummy_variables_drop.head(2)

,aerial_(fly-over),drills/exercises,environmental,fire,infrastructure,mass_transit_disruption,mass_transit_restoration,missing_adult,missing_child/adolescent,parking,public_awareness,public_health,road_closure,school_notification,structural,utility,weather
datetime,,,,,,,,,,,,,,,,,
2012-10-02 00:00:00,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
2012-10-02 03:00:00,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [82]:
print(dummy_variables.shape)
print(weather_target_df.shape)

(44609, 17)
(44609, 43)

In [83]:
print(dummy_variables_drop.shape)
print(weather_target_drop_df.shape)

(6215, 17)
(6215, 43)

In [84]:
numerical_merged = dummy_variables.merge(weather_target_df, how = 'right', on = weather_target_df.index)
numerical_merged.shape

(44609, 61)

In [85]:
numerical_merged_drop = dummy_variables_drop.merge(weather_target_drop_df, how = 'right', on = weather_target_drop_df.index)
numerical_merged_drop.shape

(6215, 61)

In [86]:
numerical_merged.head(2)

,key_0,aerial_(fly-over),drills/exercises,environmental,fire,infrastructure,mass_transit_disruption,mass_transit_restoration,missing_adult,missing_child/adolescent,...,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain,notification_type,notification_title,email_body,outage
0,2012-03-16 23:00:00,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Utility,Power Outage - Mill Basin Area,Notification issued on 03/16/2012 11:15 PM. Co...,1.0
1,2012-03-25 14:00:00,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Utility,Power Outage - Throgs Neck (BX),Notification issued on 3/25/2012 2:18 PM. Con ...,1.0

In [87]:
numerical_merged_drop.head(2)

,key_0,aerial_(fly-over),drills/exercises,environmental,fire,infrastructure,mass_transit_disruption,mass_transit_restoration,missing_adult,missing_child/adolescent,...,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain,notification_type,notification_title,email_body,outage
0,2012-10-02 00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Road Closure,All Lanes Closed - Whitestone Bridge,Notification issued 10/2/2012 at 12:07 AM. Due...,0
1,2012-10-02 03:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Road Closure,All Lanes Re-opened - Whitestone Bridge,Notification issued 10/2/2012 at 3:39 AM. Afte...,0

In [88]:
numerical_merged.dtypes[:2]

key_0                datetime64[ns]
aerial_(fly-over)             uint8
dtype: object

In [89]:
numerical_merged_drop.dtypes[:2]

key_0                datetime64[ns]
aerial_(fly-over)             uint8
dtype: object

In [90]:
numerical_merged = numerical_merged.rename(columns={'key_0':'datetime'}).set_index('datetime').sort_index()
numerical_merged.head(2)

,aerial_(fly-over),drills/exercises,environmental,fire,infrastructure,mass_transit_disruption,mass_transit_restoration,missing_adult,missing_child/adolescent,parking,...,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain,notification_type,notification_title,email_body,outage
datetime,,,,,,,,,,,,,,,,,,,,,
2012-03-16 23:00:00,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Utility,Power Outage - Mill Basin Area,Notification issued on 03/16/2012 11:15 PM. Co...,1.0
2012-03-25 14:00:00,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,Utility,Power Outage - Throgs Neck (BX),Notification issued on 3/25/2012 2:18 PM. Con ...,1.0

In [91]:
numerical_merged_drop = numerical_merged_drop.rename(columns={'key_0':'datetime'}).set_index('datetime').sort_index()
numerical_merged_drop.head(2)

,aerial_(fly-over),drills/exercises,environmental,fire,infrastructure,mass_transit_disruption,mass_transit_restoration,missing_adult,missing_child/adolescent,parking,...,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain,notification_type,notification_title,email_body,outage
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-02 00:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Road Closure,All Lanes Closed - Whitestone Bridge,Notification issued 10/2/2012 at 12:07 AM. Due...,0
2012-10-02 03:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,Road Closure,All Lanes Re-opened - Whitestone Bridge,Notification issued 10/2/2012 at 3:39 AM. Afte...,0

In [92]:
# numerical_merged.dtypes

In [93]:
numerical_merged.index

DatetimeIndex(['2012-03-16 23:00:00', '2012-03-25 14:00:00',
               '2012-03-28 23:00:00', '2012-04-09 10:00:00',
               '2012-04-18 14:00:00', '2012-04-23 10:00:00',
               '2012-05-04 07:00:00', '2012-05-21 07:00:00',
               '2012-05-25 08:00:00', '2012-05-28 14:00:00',
               ...
               '2018-10-23 10:00:00', '2018-10-29 12:00:00',
               '2018-11-24 23:00:00', '2018-11-25 12:00:00',
               '2018-11-30 21:00:00', '2018-12-10 05:00:00',
               '2018-12-20 12:00:00', '2018-12-20 22:00:00',
               '2018-12-21 15:00:00', '2018-12-27 13:00:00'],
              dtype='datetime64[ns]', name='datetime', length=44609, freq=None)

In [94]:
numerical_merged_drop.index

DatetimeIndex(['2012-10-02 00:00:00', '2012-10-02 03:00:00',
               '2012-10-02 12:00:00', '2012-10-02 14:00:00',
               '2012-10-03 08:00:00', '2012-10-03 15:00:00',
               '2012-10-04 05:00:00', '2012-10-04 06:00:00',
               '2012-10-04 07:00:00', '2012-10-04 09:00:00',
               ...
               '2017-10-24 07:00:00', '2017-10-24 15:00:00',
               '2017-10-25 12:00:00', '2017-10-25 17:00:00',
               '2017-10-26 15:00:00', '2017-10-27 03:00:00',
               '2017-10-27 09:00:00', '2017-10-27 15:00:00',
               '2017-10-27 17:00:00', '2017-10-27 20:00:00'],
              dtype='datetime64[ns]', name='datetime', length=6215, freq=None)

In [95]:
numerical_merged.columns

Index(['aerial_(fly-over)', 'drills/exercises', 'environmental', 'fire',
       'infrastructure', 'mass_transit_disruption', 'mass_transit_restoration',
       'missing_adult', 'missing_child/adolescent', 'parking',
       'public_awareness', 'public_health', 'road_closure',
       'school_notification', 'structural', 'utility', 'weather',
       'temperature_f', 'wind_dir_degrees', 'wind_speed_mph', 'broken_clouds',
       'drizzle', 'dust', 'few_clouds', 'fog', 'freezing_rain', 'haze',
       'heavy_intensity_drizzle', 'heavy_intensity_rain', 'heavy_snow',
       'heavy_thunderstorm', 'light_intensity_drizzle',
       'light_intensity_shower_rain', 'light_rain', 'light_rain_and_snow',
       'light_snow', 'mist', 'moderate_rain', 'overcast_clouds',
       'proximity_thunderstorm', 'proximity_thunderstorm_with_drizzle',
       'proximity_thunderstorm_with_rain', 'sand', 'sand/dust_whirls',
       'scattered_clouds', 'shower_rain', 'sky_is_clear', 'smoke', 'snow',
       'squalls', 'thunderstorm', 'thunderstorm_with_heavy_rain',
       'thunderstorm_with_light_drizzle', 'thunderstorm_with_light_rain',
       'thunderstorm_with_rain', 'very_heavy_rain', 'notification_type',
       'notification_title', 'email_body', 'outage'],
      dtype='object')

In [96]:
cols_to_drop = ['notification_type', 'notification_title', 'email_body']

In [97]:
numerical_merged.drop(columns=cols_to_drop, inplace = True)

In [98]:
numerical_merged_drop.drop(columns=cols_to_drop, inplace = True)

In [99]:
# numerical_merged.dtypes

In [100]:
numerical_merged.head(2)

,aerial_(fly-over),drills/exercises,environmental,fire,infrastructure,mass_transit_disruption,mass_transit_restoration,missing_adult,missing_child/adolescent,parking,...,smoke,snow,squalls,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain,outage
datetime,,,,,,,,,,,,,,,,,,,,,
2012-03-16 23:00:00,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2012-03-25 14:00:00,0,0,0,0,0,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [101]:
numerical_merged_drop.head(2)

,aerial_(fly-over),drills/exercises,environmental,fire,infrastructure,mass_transit_disruption,mass_transit_restoration,missing_adult,missing_child/adolescent,parking,...,smoke,snow,squalls,thunderstorm,thunderstorm_with_heavy_rain,thunderstorm_with_light_drizzle,thunderstorm_with_light_rain,thunderstorm_with_rain,very_heavy_rain,outage
datetime,,,,,,,,,,,,,,,,,,,,,
2012-10-02 00:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2012-10-02 03:00:00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [102]:
print(numerical_merged.index.sort_values())
print(numerical_merged_drop.index.sort_values())

DatetimeIndex(['2012-03-16 23:00:00', '2012-03-25 14:00:00',
               '2012-03-28 23:00:00', '2012-04-09 10:00:00',
               '2012-04-18 14:00:00', '2012-04-23 10:00:00',
               '2012-05-04 07:00:00', '2012-05-21 07:00:00',
               '2012-05-25 08:00:00', '2012-05-28 14:00:00',
               ...
               '2018-10-23 10:00:00', '2018-10-29 12:00:00',
               '2018-11-24 23:00:00', '2018-11-25 12:00:00',
               '2018-11-30 21:00:00', '2018-12-10 05:00:00',
               '2018-12-20 12:00:00', '2018-12-20 22:00:00',
               '2018-12-21 15:00:00', '2018-12-27 13:00:00'],
              dtype='datetime64[ns]', name='datetime', length=44609, freq=None)
DatetimeIndex(['2012-10-02 00:00:00', '2012-10-02 03:00:00',
               '2012-10-02 12:00:00', '2012-10-02 14:00:00',
               '2012-10-03 08:00:00', '2012-10-03 15:00:00',
               '2012-10-04 05:00:00', '2012-10-04 06:00:00',
               '2012-10-04 07:00:00', '2012-10-04 09:00:00',
               ...
               '2017-10-24 07:00:00', '2017-10-24 15:00:00',
               '2017-10-25 12:00:00', '2017-10-25 17:00:00',
               '2017-10-26 15:00:00', '2017-10-27 03:00:00',
               '2017-10-27 09:00:00', '2017-10-27 15:00:00',
               '2017-10-27 17:00:00', '2017-10-27 20:00:00'],
              dtype='datetime64[ns]', name='datetime', length=6215, freq=None)

In [103]:
numerical_merged.to_csv('./data/weather_target_numerical.csv')

In [104]:
numerical_merged_drop.to_csv('./data/weather_target_numerical_drop.csv')